@model LeftSideBarViewModel



<div class="sidebar-header">
    <div>
        <a href="/"><img class="logo-icon" alt="Snail Soft" src="~/snailsoft/assets/images/logo.png"></a>
    </div>
    <div>
        <h4 class="logo-text">My Clinic</h4>
    </div>
    <div class="toggle-icon ms-auto">
        <i class='bx bx-arrow-to-left'></i>
    </div>
</div>
<!--navigation-->
<ul class="metismenu" id="menu">
    @foreach (var menuCap1 in Model.Menus.Where(m => m.ParentId == null || m.ParentId.Value == 0).OrderBy(m => m.SortOrder))
    {
        if (Model.Menus.Count(m => m.ParentId != null && m.ParentId == menuCap1.Id) > 0)
        {
            <li>
                <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon">
                        <i class='@menuCap1.Icon'></i>
                    </div>
                    <div class="menu-title">@menuCap1.Name</div>
                </a>

                <ul>
                    @foreach (var menuCap2 in Model.Menus.Where(m => m.ParentId != null && m.ParentId == menuCap1.Id).OrderBy(m => m.SortOrder))
                    {
                        if (Model.Menus.Count(m => m.ParentId != null && m.ParentId == menuCap2.Id) > 0)
                        {
                            <li>
                                <a href="javascript:void(0);" data-action="click-trigger">
                                    @if (!string.IsNullOrEmpty(menuCap2.Icon))
                                    {
                                        <span class="menu-icon"><i class="@menuCap2.Icon"></i></span>
                                    }
                                    <span class="menu-text">@menuCap2.Name</span>
                                    <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                                </a>
                                <div class="child-menu" data-action="click-target">
                                    <ul>
                                        @foreach (var menuCap3 in Model.Menus.Where(m => m.ParentId != null && m.ParentId == menuCap2.Id).OrderBy(m => m.SortOrder))
                                        {
                                            <li>
                                                <a href="@(!string.IsNullOrEmpty(menuCap3.Link) ? menuCap3.Link : "javascript:void(0);")">
                                                    @if (!string.IsNullOrEmpty(menuCap3.Icon))
                                                    {
                                                        <span class="menu-icon"><i class="@menuCap3.Icon"></i></span>
                                                    }
                                                    <span class="menu-text">@menuCap3.Name</span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>
                        }
                        else
                        {

                            <li>
                                <a href="@(!string.IsNullOrEmpty(menuCap2.Link) ? menuCap2.Link : "javascript:void(0);")">
                                    @if (!string.IsNullOrEmpty(menuCap2.Icon))
                                    {
                                        <i class="@menuCap2.Icon"></i>
                                    }
                                    else
                                    {
                                        <div class="parent-icon">
                                            <i class="bx bx-right-arrow-alt"></i>
                                        </div>
                                    }

                                    <div class="menu-title">@menuCap2.Name</div>

                                </a>
                            </li>
                        }
                    }
                </ul>

            </li>
        }
        else
        {

            <li>
                <a href="@(!string.IsNullOrEmpty(menuCap1.Link) ? menuCap1.Link : "javascript:void(0);")">
                    <div class="parent-icon">
                        <i class="@menuCap1.Icon"></i>
                    </div>
                    <div class="menu-title">@menuCap1.Name</div>
                </a>
            </li>
        }
    }
    <li class="menu-label">Others</li>
				<li>
					<a href="faq.html">
						<div class="parent-icon"><i class="bx bx-help-circle"></i>
						</div>
						<div class="menu-title">FAQ</div>
					</a>
				</li>
				<li>
					<a href="https://codervent.com/syndron/documentation/index.html" target="_blank">
						<div class="parent-icon"><i class="bx bx-folder"></i>
						</div>
						<div class="menu-title">Documentation</div>
					</a>
				</li>
				<li>
					<a href="../../../../themeforest.net/user/codervent.html" target="_blank">
						<div class="parent-icon"><i class="bx bx-support"></i>
						</div>
						<div class="menu-title">Support</div>
					</a>
				</li>
</ul>

