@model StaffViewModel


@section Vendors_CSS{
	<link rel="stylesheet" href="@Url.Content("~/plugins/DataTables/css/jquery.dataTables.css")" type="text/css">
	<link rel="stylesheet" href="@Url.Content("~/snailsoft/assets/plugins/datatable/css/dataTables.bootstrap5.min.css")" type="text/css">
}

@section Custom_CSS{
<link href="@Url.Content("~/css/customiseDatatable.css")" rel="stylesheet" />
}

@section Vendors_Scripts{
	<script src="@Url.Content("~/snailsoft/assets/plugins/datatable/js/jquery.dataTables.min.js")"></script>
	<script src="@Url.Content("~/snailsoft/assets/plugins/datatable/js/dataTables.bootstrap5.min.js")"></script>
}

@section Custom_Scripts{
	<script type="text/javascript" src="@Url.Content("~/js/customiseDatatable.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/js/Staff/Index.js")"></script>
}
<script>
	var user = {
		userId: '@Model.CurrentUserRole.Id',
		userName: '@User.Identity.Name',
		roles: {
			isAllowEdit: @if (Model.CurrentUserRole.IsAllowEdit == true) {<text>true</text>} else {<text>false</text>},
			isAllowDelete: @if (Model.CurrentUserRole.IsAllowDelete == true) {<text>true</text>} else {<text>false</text>}
		}
	};
	 var editingData = null;
	$(document).ready(function () {
		Staff.init();
	});
</script>

<!--breadcrumb-->
@await Html.PartialAsync("_PartialToolbar")
<!--end breadcrumb-->
			  
<div class="card">
	<div class="card-body">
		<div class="d-lg-flex align-items-center mb-4 gap-3">
			<div class="position-relative">
				<input type="text" class="form-control ps-5 radius-30" placeholder="Search" id="dtTableSearch"> <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
			</div>
			<div class="ms-auto">
				@if (Model.CurrentUserRole.IsAllowEdit)
                {
                    <text>
						<button type="button"class="btn btn-primary mt-2 mt-lg-0" name="btnCreate"><i class="fadeIn animated bx bx-add-to-queue"></i> Create</button>
                                  
                    </text>
                }
                @if (Model.CurrentUserRole.IsAllowDelete)
                {
                    <text>
						<button type="button"class="btn btn-danger mt-2 mt-lg-0" name="btnDelete"><i class="fadeIn animated bx bx-trash-alt"></i> Delete</button>
                    </text>
                }
			</div>
		</div>
        <div class="table-responsive">
			  <table class="table mb-0 align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="dtTable" role="grid"></table>
        </div>
	</div>
</div>

<div class="switcher-wrapper ">
		<div class="switcher-btn" hidden> <i class="bx bx-cog bx-spin"></i>
		</div>
		<div class="p">
			<div class="d-flex align-items-center mb-2 radius-10 bg-snail-title">
				<h4 class="mb-0"><i class="bx bx-user-circle"></i> </h4><h6 class="mb-1 text-uppercase" id="titleCreateOrUpdate">User Manager</h6>
					<button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
				@*<button type="button" class="ms-auto" aria-label="Close"><i class="fadeIn animated bx bx-x-circle"></i></button>*@
			</div>

			<form id="snail-edit-form">
				<div class="mb-3">
				<div class="row g-0">
					<div class="col-md-4 text-center">
						<img src="~/snailsoft/assets/images/avatars/avatar-1.png" width="110" height="110" id="avatarImage" class="rounded-circle shadow mb-2" alt="">
						<a href="#" class="btn btn-outline-primary radius-15" id="btnUpload">Upload</a>
						<input  id="image-upload" data-field="Avatar" type="file" accept=".png, .jpg, .jpeg" hidden>
					</div>
					<div class="col-md-8 px-1" >
						<div class="mb-3">
							<label class="form-label">First Name(*)</label>
							<input type="email" class="form-control radius-15" data-field="FirstName" placeholder="Enter first name">
						</div>

						<div class="mb-3 px-1">
							<label class="form-label">Last Name(*)</label>
							<input type="email" class="form-control radius-15" data-field="LastName" placeholder="Enter last name">
						</div>
					</div>

					<div class="col-md-6" >
						<div class="mb-3 px-1">
							<label class="form-label">Email</label>
							<input type="email" class="form-control radius-15" data-field="Email" placeholder="Enter email">
						</div>
					</div>

					
					<div class="col-md-6" >
						<div class="mb-3 px-1">
							<label class="form-label">Phone</label>
							<input type="email" class="form-control radius-15" data-field="PhoneNumber" placeholder="Enter phone number">
						</div>
					</div>

					<div class="col-md-12" >
						<div class="mb-3 px-1">
							<label class="form-label">Address</label>
							<input type="email" class="form-control radius-15" data-field="Address" placeholder="Enter address">
						</div>
					</div>

					
					<div class="col-md-6" >
						<div class="mb-3 px-1">
							<label class="form-label">DOB</label>
							<input class="result form-control radius-15" type="date"  data-field="Dob" placeholder="Enter DOB">
						</div>
					</div>

					<div class="col-md-6" >
						<br />
						<br />
						<div class="d-flex align-items-center justify-content-between mb-3 px-1">
							<div class="form-check">
								<input class="form-check-input" type="radio" value="1" name="Gender" id="Male" checked>
								<label class="form-check-label" for="Gender">Male</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" value="2" name="Gender" id="Female">
								<label class="form-check-label" for="Female">Female</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="header-colors-indigators">
				<div class="row g-0">
					<div class="col-md-12" >
						<div class="mb-3 px-1 select2-sm">
							 <select  id="edit_form_appRoleIds" aria-label="Select a Roles" data-control="select2" data-placeholder="@Html.Raw("Select Roles...")"
							 data-field="AppRoleCodes" class="form-select form-select-solid form-select-lg radius-15 single-select">
                             </select>
						</div>
					</div>

				</div>
				<div class="row row-cols-auto g-3 px-1">
					<div class="col-md-12" id="addRoleChips">
						@*<div class="chip chip-md bg-info text-white">Michele Powa <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
						</div>*@
					</div>
				</div>
			</div>

			<div class="header-colors-indigators">
				<div class="row row-cols-auto g-3 px-1 mb-3">
					<div class="col-md-12" >
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" data-field="IsActive"  checked>
							<label class="form-check-label" for="IsActive">Active</label>
						</div>
					</div>

					<div class="col-md-6" >
						<div class="mb-3 px-1">
							<label class="form-label">Password</label>
							<input type="text" class="form-control radius-15" data-field="Password" placeholder="Enter password">
						</div>
					</div>

					<div class="col-md-6" >
						<div class="mb-3 px-1">
							<label class="form-label">Repassword</label>
							<input type="text" class="form-control radius-15" data-field="RePassword" placeholder="Enter repassword">
						</div>
					</div>
				</div>

				<div class="row row-cols-auto g-3 px-1">
					<div class="col-md-6" >
						<div class="mb-3 px-1">
							<button type="button" class="btn btn-danger px-5 radius-15" name="btnCancel">Cancel</button>

						</div>
					</div>
					<div class="col-md-6" >
						<div class="mb-3 px-1">
							<button type="button" class="btn btn-primary px-5 radius-15" name="btnUpdate">Update</button>

						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
</div>


<div class="modal fade" id="confirmDeleteModal" tabindex="-1" style="display: none;" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Confirm Delete</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="notificationDelete">Are you sure to delete data.</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" name="btnConfirmDelete">Yes, Do it!</button>
			</div>
		</div>
	</div>
</div>
	