@model AppRoleViewModel
@using SnailApp.ViewModels.Enums;

@section Vendors_CSS{
    <link rel="stylesheet" href="@Url.Content("~/plugins/DataTables/css/jquery.dataTables.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/plugins/DataTables/css/dataTables.bootstrap4.min.css")" type="text/css">
}

@section Custom_CSS{
    <link href="@Url.Content("~/css/customiseDatatable.css")" rel="stylesheet" />
}

@section Vendors_Scripts{
    <script src="@Url.Content("~/plugins/DataTables/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/plugins/DataTables/js/dataTables.bootstrap4.min.js")"></script>
}

@section Custom_Scripts{

    <script type="text/javascript" src="@Url.Content("~/js/customiseDatatable.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/AppRole/Index.js")"></script>
}

<script>
    var user = {
        userId: '@Model.CurrentUserRole.Id',
        userName: '@User.Identity.Name',
        roles: {
            isAllowEdit: @if (Model.CurrentUserRole.IsAllowEdit == true) {<text>true</text>} else {<text>false</text>},
            isAllowDelete: @if (Model.CurrentUserRole.IsAllowDelete == true) {<text>true</text>} else {<text>false</text>}
        }
    };


    $(document).ready(function () {
        AppRole.init();
    });

</script>

@await Html.PartialAsync("_PartialToolbar")
<div class="card">
	<div class="card-body">
		<div class="d-lg-flex align-items-center mb-4 gap-3">
			<div class="position-relative">
				<input type="text" class="form-control ps-5 radius-30" placeholder="Search" id="dtTableSearch"> <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
			</div>
			<div class="ms-auto">
				@if (Model.CurrentUserRole.IsAllowEdit)
                {
                    <text>
						<button type="button"class="btn btn-primary mt-2 mt-lg-0" name="btnCreate"><i class="fadeIn animated bx bx-add-to-queue"></i> Create</button>
                                  
                    </text>
                }
                @if (Model.CurrentUserRole.IsAllowDelete)
                {
                    <text>
						<button type="button"class="btn btn-danger mt-2 mt-lg-0" name="btnDelete"><i class="fadeIn animated bx bx-trash-alt"></i> Delete</button>
                    </text>
                }
			</div>
		</div>
		<div class="table-responsive">
            <table class="table mb-0 align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="dtTable" role="grid"></table>
		</div>
	</div>
</div>


<div class="switcher-wrapper role">
	<div class="switcher-btn" hidden> <i class="bx bx-cog bx-spin"></i>
	</div>
	<div class="switcher-body"  style="overflow-y:scroll; height:90vh; overflow-x: hidden;">
		<div class="d-flex align-items-center mb-5">
			<h5 class="mb-0 text-uppercase" id="titleCreateOrUpdate">Create</h5>
			<button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
		</div>

		<div id="CreateInfomation">
			<form id="edit_form">
			<div class="row g-0">
				<div class="col-md-12 px-1" >
					<div class="mb-3">
						<label class="form-label">Code(*)</label>
						<input type="text" class="form-control radius-15" data-field="Code" placeholder="Enter code">
					</div>
				</div>

				<div class="col-md-12 px-1" >

					<div class="mb-3 px-1">
						<label class="form-label">Name(*)</label>
						<input type="text" class="form-control radius-15" data-field="Name" placeholder="Enter name">
					</div>
				</div>

				<div class="col-md-12" >
					<div class="mb-3 px-1">
						<label class="form-label">Description</label>
						<input type="text" class="form-control radius-15" data-field="Description" placeholder="Enter description">
					</div>
				</div>

				<div class="col-md-6" >
					<div class="mb-3 px-1">
						<button type="button" class="btn btn-danger px-5 radius-15 w-100" name="btnCancel">Cancel</button>

					</div>
				</div>
				<div class="col-md-6" >
					<div class="mb-3 px-1">
						<button type="button" class="btn btn-primary px-5 radius-15 w-100" name="btnUpdate">Update</button>

					</div>
				</div>
			</div>
			</form>
		</div>

		<div id="RoleAssign">
			<div class="header-colors-indigators">
				<div class="row g-0">
					<div class="col-md-12" >
					
                        <div id="accordion">
                         

                            @foreach (var menuCap1 in Model.Menus.Where(m => m.ParentId == null || m.ParentId.Value == 0).OrderBy(m => m.SortOrder))
                            {
                                if (Model.Menus.Count(m => m.ParentId != null && m.ParentId == menuCap1.Id) > 0)
                                {
                                  
                                        <div class="accordion-item">
                                          <h2 class="accordion-header" id="heading-@menuCap1.Id">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@menuCap1.Id" aria-expanded="false" aria-controls="collapse-@menuCap1.Id">
                                              @menuCap1.Name
                                            </button>
                                          </h2>
                                        </div>
                                        <div id="collapse-@menuCap1.Id" class="accordion-collapse collapse" data-parent="#accordion" aria-labelledby="heading-@menuCap1.Id">
                                          <div class="accordion-body">
                                                <table class='table align-middle table-row-dashed fs-6 gy-5'>
                                                    <tbody class='text-gray-600 fw-bold'>
                                                        <tr>
                                                        <td>
                                                        </td>
                                                        </tr>
                                                        <tr>
                                                        <td>
                                                            <div class='form-check form-switch'>
                                                                <input class='form-check-input' type='checkbox' value='' data-menuid='@menuCap1.Id' data-menuapproletype='@((int)MenuAppRoleType.SystemDataView)' name='modal_edit_role_assign_checkbox' />
                                                                <label class='form-check-label'>View system</label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class='form-check form-switch'>
                                                                <input class='form-check-input' type='checkbox' value='' data-menuid='@menuCap1.Id' data-menuapproletype='@((int)MenuAppRoleType.SystemDataEdit)' name='modal_edit_role_assign_checkbox' />
                                                                <label class='form-check-label'>Edit system</label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class='form-check form-switch'>
                                                                <input class='form-check-input' type='checkbox' value='' data-menuid='@menuCap1.Id' data-menuapproletype='@((int)MenuAppRoleType.SystemDataDelete)' name='modal_edit_role_assign_checkbox' />
                                                                <label class='form-check-label'>Delete system</label>
                                                            </div>
                                                        </td>
                                                        </tr>
                                                        <tr>
                                                        <td>
                                                            <div class='form-check form-switch'>
                                                                <input class='form-check-input' type='checkbox' value='' data-menuid='@menuCap1.Id' data-menuapproletype='@((int)MenuAppRoleType.PersonalDataView)' name='modal_edit_role_assign_checkbox' />
                                                                <label class='form-check-label'>View person</label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class='form-check form-switch'>
                                                                <input class='form-check-input' type='checkbox' value='' data-menuid='@menuCap1.Id' data-menuapproletype='@((int)MenuAppRoleType.PersonalDataEdit)' name='modal_edit_role_assign_checkbox' />
                                                                <label class='form-check-label'>Edit person</label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class='form-check form-switch'>
                                                                <input class='form-check-input' type='checkbox' value='' data-menuid='@menuCap1.Id' data-menuapproletype='@((int)MenuAppRoleType.PersonalDataDelete)' name='modal_edit_role_assign_checkbox' />
                                                                <label class='form-check-label'>Delete person</label>
                                                            </div>
                                                        </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                @foreach (var menuCap2 in Model.Menus.Where(m => m.ParentId != null && m.ParentId == menuCap1.Id).OrderBy(m => m.SortOrder))
                                                {
                                                    <div id="accordion-@menuCap1.Id">
                                                        <div class="card">
                                                            <div class="accordion-item">
                                                              <h2 class="accordion-header" id="heading-@menuCap2.Id">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@menuCap2.Id" aria-expanded="false" aria-controls="collapse-@menuCap1.Id">
                                                                  @menuCap2.Name
                                                                </button>
                                                              </h2>
                                                            </div>
                                                            <div id="collapse-@menuCap2.Id" class="accordion-collapse collapse" data-parent="#accordion-@menuCap1.Id" aria-labelledby="heading-@menuCap2.Id">
                                                              <div class="accordion-body">
                                                                    <table class='table align-middle table-row-dashed fs-6 gy-5'>
                                                                        <tbody class='text-gray-600 fw-bold'>
                                                                            <tr>
                                                                            <td>
                                                                            </td>
                                                                            </tr>
                                                                            <tr>
                                                                            <td>
                                                                                <div class='form-check form-switch'>
                                                                                    <input class='form-check-input' type='checkbox' value='' data-menuid='@menuCap2.Id' data-menuapproletype='@((int)MenuAppRoleType.SystemDataView)' name='modal_edit_role_assign_checkbox' />
                                                                                    <label class='form-check-label'>View system</label>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class='form-check form-switch'>
                                                                                    <input class='form-check-input' type='checkbox' value='' data-menuid='@menuCap2.Id' data-menuapproletype='@((int)MenuAppRoleType.SystemDataEdit)' name='modal_edit_role_assign_checkbox' />
                                                                                    <label class='form-check-label'>Edit system</label>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class='form-check form-switch'>
                                                                                    <input class='form-check-input' type='checkbox' value='' data-menuid='@menuCap2.Id' data-menuapproletype='@((int)MenuAppRoleType.SystemDataDelete)' name='modal_edit_role_assign_checkbox' />
                                                                                    <label class='form-check-label'>Delete system</label>
                                                                                </div>
                                                                            </td>
                                                                            </tr>
                                                                            <tr>
                                                                            <td>
                                                                                <div class='form-check form-switch'>
                                                                                    <input class='form-check-input' type='checkbox' value='' data-menuid='@menuCap2.Id' data-menuapproletype='@((int)MenuAppRoleType.PersonalDataView)' name='modal_edit_role_assign_checkbox' />
                                                                                    <label class='form-check-label'>View person</label>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class='form-check form-switch'>
                                                                                    <input class='form-check-input' type='checkbox' value='' data-menuid='@menuCap2.Id' data-menuapproletype='@((int)MenuAppRoleType.PersonalDataEdit)' name='modal_edit_role_assign_checkbox' />
                                                                                    <label class='form-check-label'>Edit person</label>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class='form-check form-switch'>
                                                                                    <input class='form-check-input' type='checkbox' value='' data-menuid='@menuCap2.Id' data-menuapproletype='@((int)MenuAppRoleType.PersonalDataDelete)' name='modal_edit_role_assign_checkbox' />
                                                                                    <label class='form-check-label'>Delete person</label>
                                                                                </div>
                                                                            </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                              </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                          </div>
                                        </div>



                                }
                                else
                                {
                                        <div class="accordion-item">
                                          <h2 class="accordion-header" id="heading-@menuCap1.Id">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@menuCap1.Id" aria-expanded="false" aria-controls="collapse-@menuCap1.Id">
                                              @menuCap1.Name
                                            </button>
                                          </h2>
                                        </div>
                                        <div id="collapse-@menuCap1.Id" class="accordion-collapse collapse" data-parent="#accordion" aria-labelledby="heading-@menuCap1.Id">
                                          <div class="accordion-body">
                                                <table class='table align-middle table-row-dashed fs-6 gy-5'>
                                                    <tbody class='text-gray-600 fw-bold'>
                                                        <tr>
                                                        <td>
                                                        </td>
                                                        </tr>
                                                        <tr>
                                                        <td>
                                                            <div class='form-check form-switch'>
                                                                <input class='form-check-input' type='checkbox' value='' data-menuid='@menuCap1.Id' data-menuapproletype='@((int)MenuAppRoleType.SystemDataView)' name='modal_edit_role_assign_checkbox' />
                                                                <label class='form-check-label'>View system</label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class='form-check form-switch'>
                                                                <input class='form-check-input' type='checkbox' value='' data-menuid='@menuCap1.Id' data-menuapproletype='@((int)MenuAppRoleType.SystemDataEdit)' name='modal_edit_role_assign_checkbox' />
                                                                <label class='form-check-label'>Edit system</label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class='form-check form-switch'>
                                                                <input class='form-check-input' type='checkbox' value='' data-menuid='@menuCap1.Id' data-menuapproletype='@((int)MenuAppRoleType.SystemDataDelete)' name='modal_edit_role_assign_checkbox' />
                                                                <label class='form-check-label'>Delete system</label>
                                                            </div>
                                                        </td>
                                                        </tr>
                                                        <tr>
                                                        <td>
                                                            <div class='form-check form-switch'>
                                                                <input class='form-check-input' type='checkbox' value='' data-menuid='@menuCap1.Id' data-menuapproletype='@((int)MenuAppRoleType.PersonalDataView)' name='modal_edit_role_assign_checkbox' />
                                                                <label class='form-check-label'>View person</label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class='form-check form-switch'>
                                                                <input class='form-check-input' type='checkbox' value='' data-menuid='@menuCap1.Id' data-menuapproletype='@((int)MenuAppRoleType.PersonalDataEdit)' name='modal_edit_role_assign_checkbox' />
                                                                <label class='form-check-label'>Edit person</label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class='form-check form-switch'>
                                                                <input class='form-check-input' type='checkbox' value='' data-menuid='@menuCap1.Id' data-menuapproletype='@((int)MenuAppRoleType.PersonalDataDelete)' name='modal_edit_role_assign_checkbox' />
                                                                <label class='form-check-label'>Delete person</label>
                                                            </div>
                                                        </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                          </div>
                                        </div>
                                }
                            }
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@await Html.PartialAsync("_PartialConfirmDeleteModal")


