@model TestimonialViewModel

@{
    ViewBag.Title = "Testimonial";
}

@section Vendors_CSS{

}

@section Custom_CSS{
  
}

@section Vendors_Scripts{
  
}

@section Custom_Scripts{
    <script type="text/javascript" src="@Url.Content("~/js/Testimonial/Edit.js")"></script>
}

<script>
    var user = {
        userId: '@Model.CurrentUserRole.Id',
        userName: '@User.Identity.Name',
        roles: {
            isAllowEdit: @if (Model.CurrentUserRole.IsAllowEdit == true) {<text>true</text>} else {<text>false</text>},
            isAllowDelete: @if (Model.CurrentUserRole.IsAllowDelete == true) {<text>true</text>} else {<text>false</text>}
        }
    };

    @if (Model.Testimonial != null)
    {
        <text>
            var editingData = {
                id: @Model.Testimonial.Id
            };
        </text>
    }
    else
    {
        <text>
            editingData = null;
        </text>
    }

    $(document).ready(function () {
        Testimonial.init();
    });

</script>

@await Html.PartialAsync("_PartialToolbar")

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container">
            <div class="card">
                <!--begin::Card header-->
                <div class="card-header border-0 pt-6">
                    <!--begin::Card title-->
                    <div class="card-title">
                        <h3>@Html.Raw("Cập nhật bài viết")</h3>
                    </div>
                    <!--begin::Card title-->
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar">

                    </div>
                    <!--end::Card toolbar-->
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <!--begin::Form-->
                    <form class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#" id="edit_form">
                        <!--begin::Scroll-->
                        <div class="scroll-y me-n7 pe-7" id="edit_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                             data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#edit_header"
                             data-kt-scroll-wrappers="#edit_scroll" data-kt-scroll-offset="300px" style="max-height: 122px;">

                            <!--begin::Input group-->
                            <div class="row g-9">
                                <!--begin::Col-->
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 fv-row mb-7 fv-plugins-icon-container">
                                    <!--begin::Label-->
                                    <label class="required fs-6 fw-bold mb-2">@Html.Raw("Tên")</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" class="form-control form-control-solid" placeholder="@Html.Raw("Tên")" data-field="Code" name="edit_form_code" value="@if (Model.Testimonial != null) { <text>@Model.Testimonial.Code</text>}" />
                                    <!--end::Input-->
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                </div>
                                <!--end::Col-->
                                <!--begin::Col-->
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 fv-row mb-7 fv-plugins-icon-container">
                                    <!--begin::Label-->
                                    <label class="required fs-6 fw-bold mb-2">@Html.Raw("Tiêu đề")</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" class="form-control form-control-solid" placeholder="@Html.Raw("Tiêu đề")" data-field="Name" id="edit_form_name" value="@if (Model.Testimonial != null) { <text>@Model.Testimonial.Name</text>}" />
                                    <!--end::Input-->
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                <!--begin::Label-->
                                <label class="fs-6 fw-bold mb-2">@Html.Raw("Nội dung")</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" class="form-control form-control-solid" placeholder="@Html.Raw("Nội dung")" data-field="Description" name="edit_form_description" value="@if (Model.Testimonial != null) { <text>@Model.Testimonial.Description</text>}" />
                                <!--end::Input-->
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                <!--begin::Label-->
                                <label class="fs-6 fw-bold mb-2">@Html.Raw("Hình ảnh")</label>
                                <!--end::Label-->
                                <!--begin::Input group-->
                                <input type="file" accept="image/png, image/jpeg" onchange="Testimonial.previewImage(event)" class="form-control form-control-solid" placeholder="@Html.Raw("Hình ảnh")" data-field="Image" id="edit_form_image" name="edit_form_image" />
                                <a href="#" class="btn btn-sm btn-danger" id="btnDeleteImage">@Html.Raw("Xóa hình ảnh")</a>
                                <!--end::Input group-->
                                <img @if (Model.Testimonial != null) { <text> src="@Model.Testimonial.Image" </text> } id="edit_form_ShowImage" class="img-thumbnail" alt="@Html.Raw("Hình ảnh")" />
                            </div>
                            <!--end::Input group-->
                        </div>
                        <!--end::Scroll-->
                    </form>
                </div>
                <!--end::Card body-->
                <!--begin::Card footer-->
                <div class="card-footer flex-center">
                    <!--begin::Button-->
                    <button type="button" class="btn btn-primary me-3" name="btnBackToList">@Html.Raw("Trở về danh sách")</button>
                    <!--end::Button-->
                    <button type="button" id="edit_form_submit" class="btn btn-success me-3">
                        <span id="edit_form_submit_text" class="indicator-label">@Html.Raw("Cập nhật")</span>
                        <span class="indicator-progress">
                            @Html.Raw("Đang cập nhật...")
                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                    </button>
                    <!--end::Button-->

                    @if (Model.Testimonial != null)
                    {
                        <button type="button" class="btn btn-danger" name="btnDelete">@Html.Raw("Xóa")</button>
                    }
                </div>
                <!--end::Card footer-->
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>

@await Html.PartialAsync("_PartialNotificationAndAskAddNewModal")