@model BaseViewModel



@section Vendors_CSS{
<link rel="stylesheet" href="@Url.Content("~/plugins/DataTables/css/jquery.dataTables.css")" type="text/css">
<link rel="stylesheet" href="@Url.Content("~/snailsoft/assets/plugins/datatable/css/dataTables.bootstrap5.min.css")" type="text/css">
}

@section Custom_CSS{
<link href="@Url.Content("~/css/customiseDatatable.css")" rel="stylesheet" />
}

@section Vendors_Scripts{
<script src="@Url.Content("~/snailsoft/assets/plugins/datatable/js/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/snailsoft/assets/plugins/datatable/js/dataTables.bootstrap5.min.js")"></script>
}

@section Custom_Scripts{
<script type="text/javascript" src="@Url.Content("~/js/customiseDatatable.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Service/Index.js")"></script>
}

<script>
    var user = {
        userId: '@Model.CurrentUserRole.Id',
        userName: '@User.Identity.Name',
        roles: {
            isAllowEdit: @if (Model.CurrentUserRole.IsAllowEdit == true)
    {
        <text>true</text>
    }
    else
    {
        <text>false</text>
    },
            isAllowDelete: @if (Model.CurrentUserRole.IsAllowDelete == true)
    {
        <text>true</text>
    }
    else
    {
        <text>false</text>
    }
        }
    };


    $(document).ready(function () {
        Service.init();
    });

</script>

@await Html.PartialAsync("_PartialToolbar")
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12">

                <div class="row align-items-center">
                    <div class="col-lg-3 col-xl-2">
                    </div>
                    <div class="col-lg-9 col-xl-10">
                        <div class="float-lg-end">
                            <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-auto g-2">
                                <div class="col">
                                    <div class="position-relative">
                                        <input type="text" class="form-control ps-5 radius-15" placeholder="Search by service name" id="dtTableSearch"> <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
                                    </div>
                                </div>
                                <div class="col">
                                    @if (Model.CurrentUserRole.IsAllowEdit)
                                    {
                                        <text>
                                            <button type="button" class="btn btn-primary mt-2 mt-lg-0" name="btnCreate"><i class="fadeIn animated bx bx-add-to-queue"></i> Create</button>

                                        </text>
                                    }
                                    @if (Model.CurrentUserRole.IsAllowDelete)
                                    {
                                        <text>
                                            <button type="button" class="btn btn-danger mt-2 mt-lg-0" name="btnDelete"><i class="fadeIn animated bx bx-trash-alt"></i> Delete</button>
                                        </text>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="table-responsive">

            <table class="table table-striped table-bordered dataTables_wrapper dt-bootstrap5" id="dtTable" role="grid"></table>
        </div>
    </div>
</div>



<div class="switcher-wrapper border-top border-0 border-4 border-primary  snail-bg-blue">
    <div class="switcher-btn" hidden>
        <i class="bx bx-cog bx-spin"></i>
    </div>
    <div class="switcher-body snail-bg-blue">
        <div class="card-title d-flex align-items-center">
            <h5 class="mb-0 text-uppercase"><i class="bx bx-book-add"></i> SERVICES</h5>
            <button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
        </div>
        <hr>
        <div id="CreateInfomation">
            <form id="snail-edit-form">
                <div class="row mb-3 g-3">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="~/snailsoft/assets/images/avatars/avatar-1.png" id="avatarImage" class="radius-15  w-50 p-1" alt="">
                        <div class="mt-3">
                            <a href="#" class="btn btn-primary" id="btnUpload"><i class="bx bx-cloud-upload mr-1"></i> Choose image</a>
                            <input id="image-upload" data-field="Image" type="file" accept=".png, .jpg, .jpeg" hidden>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Service Type</label>
                        <div class="input-group">
                            <span class="input-group-text bg-transparent"><i class="bx bx-book-add"></i></span>
                            <select id="ServiceType" aria-label="Select a Service Type" data-control="select2"
                                    data-field="ServiceTypeId" class="form-select form-select-solid form-select-lg radius-15 single-select">
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <label class="form-label">Name</label>
                        <div class="input-group">
                            <span class="input-group-text bg-transparent"><i class="fadeIn animated bx bx-info-square"></i></span>
                            <input type="text" class="form-control form-control-sm" data-field="Name" placeholder="Name">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Charges</label>
                        <div class="input-group">
                            <span class="input-group-text bg-transparent"><i class="fadeIn animated bx bx-dollar-circle"></i></span>
                            <input type="number" class="form-control form-control-sm" data-field="Charges" placeholder="Charge">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">SortOrder</label>
                        <div class="input-group">
                            <span class="input-group-text bg-transparent"><i class="fadeIn animated bx bx-arrow-from-top"></i></span>
                            <input type="number" class="form-control form-control-sm" data-field="SortOrder" value="0" placeholder="SortOrder">
                        </div>

                    </div>
                    <div class="col-12">
                        <label for="inputAddress3" class="form-label">Note</label>
                        <textarea class="form-control" id="Description" data-field="Description" placeholder="Note" rows="3"></textarea>
                    </div>
                    <div class="col-md-12">
                        <div class="form-check form-switch">
                            <input class="form-check-input px-3 py-2" type="checkbox" data-field="IsVisibled">
                            <label class="form-check-label  py-1 p-x3" for="IsVisibled"> Active</label>
                        </div>
                    </div>

                    <div class="row row-cols-auto g-3 px-1">
                        <div class="col-md-6">
                            <div class="mb-3 px-1">
                                <button type="button" class="btn btn-danger mt-2 mt-lg-0 radius-15  w-100" name="btnCancel"><i class="bx bx-x-circle"></i> Cancel</button>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 px-1">
                                <button type="button" class="btn btn-primary mt-2 mt-lg-0 radius-15  w-100" name="btnUpdate"><i class="bx bx-save"></i> Update</button>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="CreateInfomation">
            <form id="snail-edit-form">
                <div id="CreateServiceToUser">
                    <div class="header-colors-indigators">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <label class="form-label">FIND A DOCTOR</label>
                                <div class="input-group">
                                   @* <span class="input-group-text bg-transparent"><i class="bx bx-book-add"></i></span>*@
                                    <select id="edit_form_userIds" aria-label="Select a Service Type" data-control="select2"
                                            data-field="select2" class="form-select form-select-solid form-select-lg radius-15 single-select">
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div class="mb-3 px-1 select2-sm">
                                    <button type="button" class="btn btn-primary" name="btnCreateUserToService"><i class="fadeIn animated bx bx-add-to-queue"></i> ADD TO DOCTOR</button>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table mb-0 align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="dtTableUserService" role="grid"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@await Html.PartialAsync("_PartialConfirmDeleteModal")


