<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <title>@ViewData["Title"] - ChinoPet</title>
    <meta name='robots' content='max-image-preview:large' />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link href='https://fonts.gstatic.com' crossorigin rel='preconnect' />


    <link rel='stylesheet' id='generate-fonts-css' href='//fonts.googleapis.com/css?family=Quicksand:300,regular,500,700' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href='@Url.Content("~/css/block-library/style.min.css")' media='all' />

    <link rel='stylesheet' id='wp-block-library-css' href='@Url.Content("~/css/jet-engine/frontend.css")' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href='@Url.Content("~/css/generatepress/main.min.css")' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href='@Url.Content("~/css/elementor/frontend.min.css")' media='all' />

    <link rel='stylesheet' id='wp-block-library-css' href='@Url.Content("~/css/elementor/eicons/css/elementor-icons.min.css")' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href='@Url.Content("~/css/elementor-pro/frontend.min.css")' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href='@Url.Content("~/css/jet-search/jet-search.css")' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href='@Url.Content("~/css/elementor/post-311.css")' media='all' />
    <link rel='stylesheet' id='google-fonts-1-css' href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;display=auto&#038;ver=5.8' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href='@Url.Content("~/css/elementor/fontawesome/css/fontawesome.min.css")' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href='@Url.Content("~/css/elementor/fontawesome/css/solid.min.css")' media='all' />

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

    <link rel='stylesheet' href='@Url.Content("~/css/elementor-animation.css")' media='all' />

    <link rel='stylesheet' href='@Url.Content("~/css/site.css")' media='all' />
    

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="@Url.Content("~/images/cropped-sitelogo1-32x32.png")" sizes="32x32" />
    <link rel="icon" href="@Url.Content("~/images/cropped-sitelogo1-192x192.png")" sizes="192x192" />
    <link rel="apple-touch-icon" href="@Url.Content("~/images/cropped-sitelogo1-180x180.png")" />
    <meta name="msapplication-TileImage" content="@Url.Content("~/images/cropped-sitelogo1-270x270.png")" />

    @RenderSection("Custom_CSS", false)



</head>


<body class="home page-template-default page
wp-embed-responsive post-image-aligned-center sticky-menu-fade non-logged-in
no-sidebar nav-below-header separate-containers header-aligned-left
dropdown-hover full-width-content elementor-default elementor-kit-5 elementor-page" itemtype="https://schema.org/WebPage" itemscope>



    <div id="preloader-wrapper" style="background-color: rgb(255, 255, 255);"><div class="preloader-container"><div style="color: #EEBE62;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 390.126 390.125" style="fill: currentColor;"><path d="M132.64,177.859c31.162,0,56.508-34.014,56.508-75.834c0-41.817-25.347-75.841-56.508-75.841 c-31.153,0-56.502,34.023-56.502,75.841C76.138,143.845,101.487,177.859,132.64,177.859z"></path><path d="M300.246,251.628c-1.159-1.579-2.27-3.068-2.864-4.348c-12.635-27.046-47.27-58.931-103.382-59.724l-2.159-0.012 c-55.25,0-89.627,30.197-103.381,58.469c-0.475,0.967-1.52,2.222-2.627,3.549c-1.31,1.555-2.606,3.146-3.714,4.875 c-11.619,18.075-17.543,38.426-16.669,57.299c0.916,20.037,9.305,36.131,23.581,45.312c5.768,3.705,11.992,5.572,18.522,5.572 c13.465,0,25.793-7.584,40.079-16.368c9.083-5.598,18.465-11.374,28.886-15.697c1.168-0.385,5.954-0.973,13.781-0.973 c9.307,0,15.991,0.828,17.419,1.321c10.173,4.491,19.107,10.382,27.748,16.068c13.247,8.731,25.755,16.97,39.326,16.97 c5.824,0,11.469-1.537,16.795-4.563c29.382-16.693,34.979-62.492,12.484-102.088C302.942,255.303,301.597,253.448,300.246,251.628 z"></path><path d="M252.796,177.859c31.147,0,56.499-34.014,56.499-75.834c0-41.817-25.352-75.841-56.499-75.841 c-31.165,0-56.511,34.023-56.511,75.841C196.285,143.845,221.631,177.859,252.796,177.859z"></path><path d="M345.595,138.918c-24.975,0-44.521,25.901-44.521,58.967c0,33.051,19.558,58.955,44.521,58.955 c24.961,0,44.531-25.904,44.531-58.955C390.126,164.82,370.568,138.918,345.595,138.918z"></path><path d="M89.048,197.885c0-33.065-19.558-58.967-44.522-58.967C19.561,138.918,0,164.82,0,197.885 c0,33.051,19.561,58.955,44.526,58.955C69.491,256.84,89.048,230.936,89.048,197.885z"></path></svg></div><div style="color: #EEBE62;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 390.126 390.125" style="fill: currentColor;"><path d="M132.64,177.859c31.162,0,56.508-34.014,56.508-75.834c0-41.817-25.347-75.841-56.508-75.841 c-31.153,0-56.502,34.023-56.502,75.841C76.138,143.845,101.487,177.859,132.64,177.859z"></path><path d="M300.246,251.628c-1.159-1.579-2.27-3.068-2.864-4.348c-12.635-27.046-47.27-58.931-103.382-59.724l-2.159-0.012 c-55.25,0-89.627,30.197-103.381,58.469c-0.475,0.967-1.52,2.222-2.627,3.549c-1.31,1.555-2.606,3.146-3.714,4.875 c-11.619,18.075-17.543,38.426-16.669,57.299c0.916,20.037,9.305,36.131,23.581,45.312c5.768,3.705,11.992,5.572,18.522,5.572 c13.465,0,25.793-7.584,40.079-16.368c9.083-5.598,18.465-11.374,28.886-15.697c1.168-0.385,5.954-0.973,13.781-0.973 c9.307,0,15.991,0.828,17.419,1.321c10.173,4.491,19.107,10.382,27.748,16.068c13.247,8.731,25.755,16.97,39.326,16.97 c5.824,0,11.469-1.537,16.795-4.563c29.382-16.693,34.979-62.492,12.484-102.088C302.942,255.303,301.597,253.448,300.246,251.628 z"></path><path d="M252.796,177.859c31.147,0,56.499-34.014,56.499-75.834c0-41.817-25.352-75.841-56.499-75.841 c-31.165,0-56.511,34.023-56.511,75.841C196.285,143.845,221.631,177.859,252.796,177.859z"></path><path d="M345.595,138.918c-24.975,0-44.521,25.901-44.521,58.967c0,33.051,19.558,58.955,44.521,58.955 c24.961,0,44.531-25.904,44.531-58.955C390.126,164.82,370.568,138.918,345.595,138.918z"></path><path d="M89.048,197.885c0-33.065-19.558-58.967-44.522-58.967C19.561,138.918,0,164.82,0,197.885 c0,33.051,19.561,58.955,44.526,58.955C69.491,256.84,89.048,230.936,89.048,197.885z"></path></svg></div><div style="color: #EEBE62;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 390.126 390.125" style="fill: currentColor;"><path d="M132.64,177.859c31.162,0,56.508-34.014,56.508-75.834c0-41.817-25.347-75.841-56.508-75.841 c-31.153,0-56.502,34.023-56.502,75.841C76.138,143.845,101.487,177.859,132.64,177.859z"></path><path d="M300.246,251.628c-1.159-1.579-2.27-3.068-2.864-4.348c-12.635-27.046-47.27-58.931-103.382-59.724l-2.159-0.012 c-55.25,0-89.627,30.197-103.381,58.469c-0.475,0.967-1.52,2.222-2.627,3.549c-1.31,1.555-2.606,3.146-3.714,4.875 c-11.619,18.075-17.543,38.426-16.669,57.299c0.916,20.037,9.305,36.131,23.581,45.312c5.768,3.705,11.992,5.572,18.522,5.572 c13.465,0,25.793-7.584,40.079-16.368c9.083-5.598,18.465-11.374,28.886-15.697c1.168-0.385,5.954-0.973,13.781-0.973 c9.307,0,15.991,0.828,17.419,1.321c10.173,4.491,19.107,10.382,27.748,16.068c13.247,8.731,25.755,16.97,39.326,16.97 c5.824,0,11.469-1.537,16.795-4.563c29.382-16.693,34.979-62.492,12.484-102.088C302.942,255.303,301.597,253.448,300.246,251.628 z"></path><path d="M252.796,177.859c31.147,0,56.499-34.014,56.499-75.834c0-41.817-25.352-75.841-56.499-75.841 c-31.165,0-56.511,34.023-56.511,75.841C196.285,143.845,221.631,177.859,252.796,177.859z"></path><path d="M345.595,138.918c-24.975,0-44.521,25.901-44.521,58.967c0,33.051,19.558,58.955,44.521,58.955 c24.961,0,44.531-25.904,44.531-58.955C390.126,164.82,370.568,138.918,345.595,138.918z"></path><path d="M89.048,197.885c0-33.065-19.558-58.967-44.522-58.967C19.561,138.918,0,164.82,0,197.885 c0,33.051,19.561,58.955,44.526,58.955C69.491,256.84,89.048,230.936,89.048,197.885z"></path></svg></div><div style="color: #EEBE62;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 390.126 390.125" style="fill: currentColor;"><path d="M132.64,177.859c31.162,0,56.508-34.014,56.508-75.834c0-41.817-25.347-75.841-56.508-75.841 c-31.153,0-56.502,34.023-56.502,75.841C76.138,143.845,101.487,177.859,132.64,177.859z"></path><path d="M300.246,251.628c-1.159-1.579-2.27-3.068-2.864-4.348c-12.635-27.046-47.27-58.931-103.382-59.724l-2.159-0.012 c-55.25,0-89.627,30.197-103.381,58.469c-0.475,0.967-1.52,2.222-2.627,3.549c-1.31,1.555-2.606,3.146-3.714,4.875 c-11.619,18.075-17.543,38.426-16.669,57.299c0.916,20.037,9.305,36.131,23.581,45.312c5.768,3.705,11.992,5.572,18.522,5.572 c13.465,0,25.793-7.584,40.079-16.368c9.083-5.598,18.465-11.374,28.886-15.697c1.168-0.385,5.954-0.973,13.781-0.973 c9.307,0,15.991,0.828,17.419,1.321c10.173,4.491,19.107,10.382,27.748,16.068c13.247,8.731,25.755,16.97,39.326,16.97 c5.824,0,11.469-1.537,16.795-4.563c29.382-16.693,34.979-62.492,12.484-102.088C302.942,255.303,301.597,253.448,300.246,251.628 z"></path><path d="M252.796,177.859c31.147,0,56.499-34.014,56.499-75.834c0-41.817-25.352-75.841-56.499-75.841 c-31.165,0-56.511,34.023-56.511,75.841C196.285,143.845,221.631,177.859,252.796,177.859z"></path><path d="M345.595,138.918c-24.975,0-44.521,25.901-44.521,58.967c0,33.051,19.558,58.955,44.521,58.955 c24.961,0,44.531-25.904,44.531-58.955C390.126,164.82,370.568,138.918,345.595,138.918z"></path><path d="M89.048,197.885c0-33.065-19.558-58.967-44.522-58.967C19.561,138.918,0,164.82,0,197.885 c0,33.051,19.561,58.955,44.526,58.955C69.491,256.84,89.048,230.936,89.048,197.885z"></path></svg></div><div style="color: #EEBE62;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 390.126 390.125" style="fill: currentColor;"><path d="M132.64,177.859c31.162,0,56.508-34.014,56.508-75.834c0-41.817-25.347-75.841-56.508-75.841 c-31.153,0-56.502,34.023-56.502,75.841C76.138,143.845,101.487,177.859,132.64,177.859z"></path><path d="M300.246,251.628c-1.159-1.579-2.27-3.068-2.864-4.348c-12.635-27.046-47.27-58.931-103.382-59.724l-2.159-0.012 c-55.25,0-89.627,30.197-103.381,58.469c-0.475,0.967-1.52,2.222-2.627,3.549c-1.31,1.555-2.606,3.146-3.714,4.875 c-11.619,18.075-17.543,38.426-16.669,57.299c0.916,20.037,9.305,36.131,23.581,45.312c5.768,3.705,11.992,5.572,18.522,5.572 c13.465,0,25.793-7.584,40.079-16.368c9.083-5.598,18.465-11.374,28.886-15.697c1.168-0.385,5.954-0.973,13.781-0.973 c9.307,0,15.991,0.828,17.419,1.321c10.173,4.491,19.107,10.382,27.748,16.068c13.247,8.731,25.755,16.97,39.326,16.97 c5.824,0,11.469-1.537,16.795-4.563c29.382-16.693,34.979-62.492,12.484-102.088C302.942,255.303,301.597,253.448,300.246,251.628 z"></path><path d="M252.796,177.859c31.147,0,56.499-34.014,56.499-75.834c0-41.817-25.352-75.841-56.499-75.841 c-31.165,0-56.511,34.023-56.511,75.841C196.285,143.845,221.631,177.859,252.796,177.859z"></path><path d="M345.595,138.918c-24.975,0-44.521,25.901-44.521,58.967c0,33.051,19.558,58.955,44.521,58.955 c24.961,0,44.531-25.904,44.531-58.955C390.126,164.82,370.568,138.918,345.595,138.918z"></path><path d="M89.048,197.885c0-33.065-19.558-58.967-44.522-58.967C19.561,138.918,0,164.82,0,197.885 c0,33.051,19.561,58.955,44.526,58.955C69.491,256.84,89.048,230.936,89.048,197.885z"></path></svg></div><div style="color: #EEBE62;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 390.126 390.125" style="fill: currentColor;"><path d="M132.64,177.859c31.162,0,56.508-34.014,56.508-75.834c0-41.817-25.347-75.841-56.508-75.841 c-31.153,0-56.502,34.023-56.502,75.841C76.138,143.845,101.487,177.859,132.64,177.859z"></path><path d="M300.246,251.628c-1.159-1.579-2.27-3.068-2.864-4.348c-12.635-27.046-47.27-58.931-103.382-59.724l-2.159-0.012 c-55.25,0-89.627,30.197-103.381,58.469c-0.475,0.967-1.52,2.222-2.627,3.549c-1.31,1.555-2.606,3.146-3.714,4.875 c-11.619,18.075-17.543,38.426-16.669,57.299c0.916,20.037,9.305,36.131,23.581,45.312c5.768,3.705,11.992,5.572,18.522,5.572 c13.465,0,25.793-7.584,40.079-16.368c9.083-5.598,18.465-11.374,28.886-15.697c1.168-0.385,5.954-0.973,13.781-0.973 c9.307,0,15.991,0.828,17.419,1.321c10.173,4.491,19.107,10.382,27.748,16.068c13.247,8.731,25.755,16.97,39.326,16.97 c5.824,0,11.469-1.537,16.795-4.563c29.382-16.693,34.979-62.492,12.484-102.088C302.942,255.303,301.597,253.448,300.246,251.628 z"></path><path d="M252.796,177.859c31.147,0,56.499-34.014,56.499-75.834c0-41.817-25.352-75.841-56.499-75.841 c-31.165,0-56.511,34.023-56.511,75.841C196.285,143.845,221.631,177.859,252.796,177.859z"></path><path d="M345.595,138.918c-24.975,0-44.521,25.901-44.521,58.967c0,33.051,19.558,58.955,44.521,58.955 c24.961,0,44.531-25.904,44.531-58.955C390.126,164.82,370.568,138.918,345.595,138.918z"></path><path d="M89.048,197.885c0-33.065-19.558-58.967-44.522-58.967C19.561,138.918,0,164.82,0,197.885 c0,33.051,19.561,58.955,44.526,58.955C69.491,256.84,89.048,230.936,89.048,197.885z"></path></svg></div><div style="color: #EEBE62;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 390.126 390.125" style="fill: currentColor;"><path d="M132.64,177.859c31.162,0,56.508-34.014,56.508-75.834c0-41.817-25.347-75.841-56.508-75.841 c-31.153,0-56.502,34.023-56.502,75.841C76.138,143.845,101.487,177.859,132.64,177.859z"></path><path d="M300.246,251.628c-1.159-1.579-2.27-3.068-2.864-4.348c-12.635-27.046-47.27-58.931-103.382-59.724l-2.159-0.012 c-55.25,0-89.627,30.197-103.381,58.469c-0.475,0.967-1.52,2.222-2.627,3.549c-1.31,1.555-2.606,3.146-3.714,4.875 c-11.619,18.075-17.543,38.426-16.669,57.299c0.916,20.037,9.305,36.131,23.581,45.312c5.768,3.705,11.992,5.572,18.522,5.572 c13.465,0,25.793-7.584,40.079-16.368c9.083-5.598,18.465-11.374,28.886-15.697c1.168-0.385,5.954-0.973,13.781-0.973 c9.307,0,15.991,0.828,17.419,1.321c10.173,4.491,19.107,10.382,27.748,16.068c13.247,8.731,25.755,16.97,39.326,16.97 c5.824,0,11.469-1.537,16.795-4.563c29.382-16.693,34.979-62.492,12.484-102.088C302.942,255.303,301.597,253.448,300.246,251.628 z"></path><path d="M252.796,177.859c31.147,0,56.499-34.014,56.499-75.834c0-41.817-25.352-75.841-56.499-75.841 c-31.165,0-56.511,34.023-56.511,75.841C196.285,143.845,221.631,177.859,252.796,177.859z"></path><path d="M345.595,138.918c-24.975,0-44.521,25.901-44.521,58.967c0,33.051,19.558,58.955,44.521,58.955 c24.961,0,44.531-25.904,44.531-58.955C390.126,164.82,370.568,138.918,345.595,138.918z"></path><path d="M89.048,197.885c0-33.065-19.558-58.967-44.522-58.967C19.561,138.918,0,164.82,0,197.885 c0,33.051,19.561,58.955,44.526,58.955C69.491,256.84,89.048,230.936,89.048,197.885z"></path></svg></div><div style="color: #EEBE62;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 390.126 390.125" style="fill: currentColor;"><path d="M132.64,177.859c31.162,0,56.508-34.014,56.508-75.834c0-41.817-25.347-75.841-56.508-75.841 c-31.153,0-56.502,34.023-56.502,75.841C76.138,143.845,101.487,177.859,132.64,177.859z"></path><path d="M300.246,251.628c-1.159-1.579-2.27-3.068-2.864-4.348c-12.635-27.046-47.27-58.931-103.382-59.724l-2.159-0.012 c-55.25,0-89.627,30.197-103.381,58.469c-0.475,0.967-1.52,2.222-2.627,3.549c-1.31,1.555-2.606,3.146-3.714,4.875 c-11.619,18.075-17.543,38.426-16.669,57.299c0.916,20.037,9.305,36.131,23.581,45.312c5.768,3.705,11.992,5.572,18.522,5.572 c13.465,0,25.793-7.584,40.079-16.368c9.083-5.598,18.465-11.374,28.886-15.697c1.168-0.385,5.954-0.973,13.781-0.973 c9.307,0,15.991,0.828,17.419,1.321c10.173,4.491,19.107,10.382,27.748,16.068c13.247,8.731,25.755,16.97,39.326,16.97 c5.824,0,11.469-1.537,16.795-4.563c29.382-16.693,34.979-62.492,12.484-102.088C302.942,255.303,301.597,253.448,300.246,251.628 z"></path><path d="M252.796,177.859c31.147,0,56.499-34.014,56.499-75.834c0-41.817-25.352-75.841-56.499-75.841 c-31.165,0-56.511,34.023-56.511,75.841C196.285,143.845,221.631,177.859,252.796,177.859z"></path><path d="M345.595,138.918c-24.975,0-44.521,25.901-44.521,58.967c0,33.051,19.558,58.955,44.521,58.955 c24.961,0,44.531-25.904,44.531-58.955C390.126,164.82,370.568,138.918,345.595,138.918z"></path><path d="M89.048,197.885c0-33.065-19.558-58.967-44.522-58.967C19.561,138.918,0,164.82,0,197.885 c0,33.051,19.561,58.955,44.526,58.955C69.491,256.84,89.048,230.936,89.048,197.885z"></path></svg></div><div style="color: #EEBE62;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 390.126 390.125" style="fill: currentColor;"><path d="M132.64,177.859c31.162,0,56.508-34.014,56.508-75.834c0-41.817-25.347-75.841-56.508-75.841 c-31.153,0-56.502,34.023-56.502,75.841C76.138,143.845,101.487,177.859,132.64,177.859z"></path><path d="M300.246,251.628c-1.159-1.579-2.27-3.068-2.864-4.348c-12.635-27.046-47.27-58.931-103.382-59.724l-2.159-0.012 c-55.25,0-89.627,30.197-103.381,58.469c-0.475,0.967-1.52,2.222-2.627,3.549c-1.31,1.555-2.606,3.146-3.714,4.875 c-11.619,18.075-17.543,38.426-16.669,57.299c0.916,20.037,9.305,36.131,23.581,45.312c5.768,3.705,11.992,5.572,18.522,5.572 c13.465,0,25.793-7.584,40.079-16.368c9.083-5.598,18.465-11.374,28.886-15.697c1.168-0.385,5.954-0.973,13.781-0.973 c9.307,0,15.991,0.828,17.419,1.321c10.173,4.491,19.107,10.382,27.748,16.068c13.247,8.731,25.755,16.97,39.326,16.97 c5.824,0,11.469-1.537,16.795-4.563c29.382-16.693,34.979-62.492,12.484-102.088C302.942,255.303,301.597,253.448,300.246,251.628 z"></path><path d="M252.796,177.859c31.147,0,56.499-34.014,56.499-75.834c0-41.817-25.352-75.841-56.499-75.841 c-31.165,0-56.511,34.023-56.511,75.841C196.285,143.845,221.631,177.859,252.796,177.859z"></path><path d="M345.595,138.918c-24.975,0-44.521,25.901-44.521,58.967c0,33.051,19.558,58.955,44.521,58.955 c24.961,0,44.531-25.904,44.531-58.955C390.126,164.82,370.568,138.918,345.595,138.918z"></path><path d="M89.048,197.885c0-33.065-19.558-58.967-44.522-58.967C19.561,138.918,0,164.82,0,197.885 c0,33.051,19.561,58.955,44.526,58.955C69.491,256.84,89.048,230.936,89.048,197.885z"></path></svg></div></div></div>


    <div id="page" class="site grid-container container hfeed">
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Footer")

    <script type="text/html" id="tmpl-jet-ajax-search-results-item">
        <div class="jet-ajax-search__results-item">
            <a class="jet-ajax-search__item-link" href="{{{data.link}}}" target="{{{data.link_target_attr}}}">
                {{{data.thumbnail}}}
                <div class="jet-ajax-search__item-content-wrapper">
                    {{{data.before_title}}}
                    <div class="jet-ajax-search__item-title">{{{data.title}}}</div>
                    {{{data.after_title}}}
                    {{{data.before_content}}}
                    <div class="jet-ajax-search__item-content">{{{data.content}}}</div>
                    {{{data.after_content}}}
                    {{{data.rating}}}
                    {{{data.price}}}
                </div>
            </a>
        </div>
    </script>
    <link rel='stylesheet' id='flatpickr-css' href='@Url.Content("~/plugins/flatpickr/flatpickr.min.css?ver=4.1.4")' media='all' />
    <link rel='stylesheet' id='e-animations-css' href='@Url.Content("~/plugins/animations/animations.min.css?ver=3.4.2")' media='all' />
    <script src='@Url.Content("~/themes/main.min.js?ver=3.0.4")'></script>
    <script src='@Url.Content("~/themes/wp-embed.min.js?ver=5.8")'></script>
    <script src='@Url.Content("~/themes/jquery.min.js?ver=3.6.0")'></script>
    <script src='@Url.Content("~/themes/jquery-migrate.min.js?ver=3.3.2")'></script>
    <script src='@Url.Content("~/themes/jquery.smartmenus.min.js?ver=1.0.1")'></script>
    <script src='@Url.Content("~/themes/frontend.js?ver=2.9.3")' id='jet-engine-frontend-js'></script>
    <script type="text/javascript" src="@Url.Content("~/plugins/slick/slick.min.js")"></script>
    <script src='@Url.Content("~/plugins/flatpickr/flatpickr.min.js?ver=4.1.4")' id='flatpickr-js'></script>
    <script src='@Url.Content("~/themes/webpack-pro.runtime.min.js?ver=3.3.8")'></script>
    <script src='@Url.Content("~/themes/webpack.runtime.min.js?ver=3.4.2")'></script>
    <script src='@Url.Content("~/themes/frontend-modules.min.js?ver=3.4.2")'></script>

    <script id='elementor-pro-frontend-js-before'>
        var ElementorProFrontendConfig = {
            "ajaxurl": "/",
            "nonce": "2e67de65ee", "urls": { "assets": "https:\/\/chinopet.macadaiviet.com\/wp-content\/plugins\/elementor-pro\/assets\/" },
            "i18n": { "toc_no_headings_found": "No headings were found on this page." },
            "shareButtonsNetworks": {
                "facebook": { "title": "Facebook", "has_counter": true },
                "twitter": { "title": "Twitter" },
                "google": { "title": "Google+", "has_counter": true },
                "linkedin": { "title": "LinkedIn", "has_counter": true },
                "pinterest": { "title": "Pinterest", "has_counter": true },
                "reddit": { "title": "Reddit", "has_counter": true },
                "vk": { "title": "VK", "has_counter": true },
                "odnoklassniki": { "title": "OK", "has_counter": true },
                "tumblr": { "title": "Tumblr" }, "digg": { "title": "Digg" },
                "skype": { "title": "Skype" },
                "stumbleupon": { "title": "StumbleUpon", "has_counter": true },
                "mix": { "title": "Mix" }, "telegram": { "title": "Telegram" },
                "pocket": { "title": "Pocket", "has_counter": true },
                "xing": { "title": "XING", "has_counter": true },
                "whatsapp": { "title": "WhatsApp" },
                "email": { "title": "Email" },
                "print": { "title": "Print" }
            }, "facebook_sdk": { "lang": "en_US", "app_id": "" },
            "lottie": { "defaultAnimationUrl": "~\/plugins\/elementor-pro\/modules\/lottie\/assets\/animations\/default.json" }
        };
    </script>

    <script src='@Url.Content("~/themes/frontend.min.js?ver=3.3.8")'></script>
    <script src='@Url.Content("~/themes/waypoints.min.js?ver=4.0.2")'></script>
    <script src='@Url.Content("~/themes/core.min.js?ver=1.12.1")'></script>
    <script src='@Url.Content("~/plugins/swiper/swiper.min.js?ver=5.3.6")'></script>
    <script src='@Url.Content("~/themes/share-link.min.js?ver=3.4.2")'></script>
    <script src='@Url.Content("~/themes/dialog.min.js?ver=4.8.1")'></script>

    <script id='elementor-frontend-js-before'>
        var elementorFrontendConfig = {
            "environmentMode": { "edit": false, "wpPreview": false, "isScriptDebug": false }, "i18n": { "shareOnFacebook": "Share on Facebook", "shareOnTwitter": "Share on Twitter", "pinIt": "Pin it", "download": "Download", "downloadImage": "Download image", "fullscreen": "Fullscreen", "zoom": "Zoom", "share": "Share", "playVideo": "Play Video", "previous": "Previous", "next": "Next", "close": "Close" }, "is_rtl": false, "breakpoints": { "xs": 0, "sm": 480, "md": 768, "lg": 1025, "xl": 1440, "xxl": 1600 }, "responsive": { "breakpoints": { "mobile": { "label": "Mobile", "value": 767, "default_value": 767, "direction": "max", "is_enabled": true }, "mobile_extra": { "label": "Mobile Extra", "value": 880, "default_value": 880, "direction": "max", "is_enabled": false }, "tablet": { "label": "Tablet", "value": 1024, "default_value": 1024, "direction": "max", "is_enabled": true }, "tablet_extra": { "label": "Tablet Extra", "value": 1200, "default_value": 1200, "direction": "max", "is_enabled": false }, "laptop": { "label": "Laptop", "value": 1366, "default_value": 1366, "direction": "max", "is_enabled": false }, "widescreen": { "label": "Widescreen", "value": 2400, "default_value": 2400, "direction": "min", "is_enabled": false } } }, "version": "3.4.2", "is_static": false, "experimentalFeatures": { "e_dom_optimization": true, "a11y_improvements": true, "e_import_export": true, "landing-pages": true, "elements-color-picker": true, "form-submissions": true, "video-playlist": true },
            "urls": { "assets": "/" }, "settings": { "page": [], "editorPreferences": [] }, "kit": { "active_breakpoints": ["viewport_mobile", "viewport_tablet"], "global_image_lightbox": "yes", "lightbox_enable_counter": "yes", "lightbox_enable_fullscreen": "yes", "lightbox_enable_zoom": "yes", "lightbox_enable_share": "yes", "lightbox_title_src": "title", "lightbox_description_src": "description" }, "post": { "id": 294, "title": "Chinopet%20%E2%80%93%20Your%20Pet%20Comes%20First", "excerpt": "", "featuredImage": false }
        };
    </script>


    <script src='@Url.Content("~/themes/frontend342.min.js?ver=3.4.2")'></script>
    <script src='@Url.Content("~/themes/preloaded-elements-handlers.min.js?ver=3.3.8")'></script>
    <script src='@Url.Content("~/themes/preloaded-modules.min.js?ver=3.4.2")'></script>
    <script src='@Url.Content("~/themes/jquery.sticky.min.js?ver=3.3.8")'></script>
    <script src='@Url.Content("~/themes/underscore.min.js?ver=1.8.3")'></script>
    <script src='@Url.Content("~/themes/wp-util.min.js?ver=5.8")'></script>
    <script src="@Url.Content("~/js/app.js")"></script>

    

    <script id='elementor-frontend-js-before'>
        jQuery(window).load(function(){
            setTimeout(function(){
                jQuery('#preloader-wrapper').fadeOut();
            },1100);

        });

        jQuery(document).ready(function($){
 
            var bArray = [];
            var sArray = [4,6,8,10];
 
            for (var i = 0; i < $('.bubbles').width(); i++) {
                bArray.push(i);
            }
     
            function randomValue(arr) {
                return arr[Math.floor(Math.random() * arr.length)];
            }
 
            setInterval(function(){
         
                var size = randomValue(sArray);
                $('.bubbles').append('<div class="individual-bubble" style="left: ' + randomValue(bArray) + 'px; width: ' + size + 'px; height:' + size + 'px;"></div>');
         
                $('.individual-bubble').animate({
                    'bottom': '100%',
                    'opacity' : '-=0.7'
                }, 3000, function(){
                    $(this).remove()
                }
                );
            }, 350);
 


            
        });
    </script>


    @RenderSection("Custom_Scripts", false)
</body>
</html>
