@model PayrollViewModel

@{
    ViewBag.Title = "Bảng lương";
}

@section Vendors_CSS{
<link rel="stylesheet" href="@Url.Content("~/plugins/DataTables/css/jquery.dataTables.css")" type="text/css">
<link rel="stylesheet" href="@Url.Content("~/plugins/DataTables/css/dataTables.bootstrap4.min.css")" type="text/css">
}

@section Custom_CSS{
<link href="@Url.Content("~/css/customiseDatatable.css")" rel="stylesheet" />
}

@section Vendors_Scripts{
<script src="@Url.Content("~/plugins/DataTables/js/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/plugins/DataTables/js/dataTables.bootstrap4.min.js")"></script>
<script src="@Url.Content("~/js/customiseFlatpickr.js")"></script>
}

@section Custom_Scripts{
<script type="text/javascript" src="@Url.Content("~/js/util.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/customiseDatatable.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Payroll/Edit.js")"></script>
}

<script>
    var user = {
        userId: '@Model.CurrentUserRole.Id',
        userName: '@User.Identity.Name',
        roles: {
            isAllowEdit: @if (Model.CurrentUserRole.IsAllowEdit == true)
    {
        <text>true</text>
    }
    else
    {
        <text>false</text>
    }
    ,
            isAllowDelete: @if (Model.CurrentUserRole.IsAllowDelete == true)
    {
        <text>true</text>
    }
    else
    {
        <text>false</text>
    }
        }
    };

    @if (Model.Payroll != null)
    {
        <text>
                var editingData = {
                    id: '@Model.Payroll.Id'
                };
        </text>
    }
    else
    {
        <text>
                editingData = null;
        </text>
    }

    $(document).ready(function () {
        Payroll.init();
    });

</script>

@await Html.PartialAsync("_PartialToolbar")

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container">
            <!--begin::Basic info-->
            <div class="card mb-5 mb-xl-10">
                <!--begin::Card header-->
                <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#edit" aria-expanded="true" aria-controls="edit">
                    <!--begin::Card title-->
                    <div class="card-title m-0">
                        <h3 class="fw-bolder m-0">@Html.Raw("Thông tin cơ bản")</h3>
                    </div>
                    <!--end::Card title-->
                </div>
                <!--begin::Card header-->
                <!--begin::Content-->
                <div id="edit" class="collapse show">
                    <!--begin::Form-->
                    <form id="edit_form" class="form">
                        <!--begin::Card body-->
                        <div class="card-body border-top p-9">
                            <!--begin::Input group-->
                            <div class="row mb-6">
                                <!--begin::Label-->
                                <label class="col-lg-4 col-form-label required fw-bold fs-6">@Html.Raw("Mã")</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-8 fv-row">
                                    <input type="text" name="edit_form_code" class="form-control form-control-lg form-control-solid" placeholder="@Html.Raw("Mã")" data-field="Code" @if (Model.Payroll != null) { <text> value="@Model.Payroll.Code" </text> } />
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="row mb-6">
                                <!--begin::Label-->
                                <label class="col-lg-4 col-form-label required fw-bold fs-6">@Html.Raw("Tên")</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-8 fv-row">
                                    <input type="text" name="edit_form_name" class="form-control form-control-lg form-control-solid" placeholder="@Html.Raw("Tên")" data-field="Name" @if (Model.Payroll != null) { <text> value="@Model.Payroll.Name" </text> } />
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="row mb-6">
                                <!--begin::Label-->
                                <label class="col-lg-4 col-form-label required fw-bold fs-6">@Html.Raw("Ngày tính lương")</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-8">
                                    <!--begin::Row-->
                                    <div class="row">
                                        <!--begin::Col-->
                                        <div class="col-lg-6 fv-row">
                                            <input type="text" name="edit_form_fromDate" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0 flatpickr" data-field="FromDate" placeholder="@Html.Raw("Ngày bắt đầu")" @if (Model.Payroll != null) { <text> value="@Model.Payroll.FromDate.ToString("dd/MM/yyyy")" </text> } />
                                        </div>
                                        <!--end::Col-->
                                        <!--begin::Col-->
                                        <div class="col-lg-6 fv-row">
                                            <input type="text" name="edit_form_toDate" class="form-control form-control-lg form-control-solid flatpickr" data-field="ToDate" placeholder="@Html.Raw("Ngày kết thúc")" @if (Model.Payroll != null) { <text> value="@Model.Payroll.ToDate.ToString("dd/MM/yyyy")" </text> } />
                                        </div>
                                        <!--end::Col-->
                                    </div>
                                    <!--end::Row-->
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                        </div>
                        <!--end::Card body-->
                        <!--begin::Actions-->
                        <div class="card-footer d-flex justify-content-end py-6 px-9">
                            <!--begin::Button-->
                            <button type="button" class="btn btn-light me-3" name="btnBackToList">@Html.Raw("Trở về danh sách")</button>
                            <!--end::Button-->
                            <!--begin::Button-->
                            <button type="button" class="btn btn-info me-3" id="btnCalculatePayroll">@Html.Raw("Tính toán lương")</button>
                            <!--end::Button-->
                            <!--begin::Button-->
                            <button type="button" class="btn btn-primary me-3" name="btnCreate">@Html.Raw("Thêm mới (F2)")</button>
                            <!--end::Button-->
                            <!--begin::Button-->
                            <button type="button" id="edit_form_submit" class="btn btn-primary me-3">
                                <span id="kt_modal_edit_submit_text" class="indicator-label">@Html.Raw("Cập nhật")</span>
                                <span class="indicator-progress">
                                    @Html.Raw("Đang cập nhật...")
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                            <!--end::Button-->
                            <!--begin::Button-->
                            <button type="button" class="btn btn-danger" name="btnDelete">@Html.Raw("Xóa")</button>
                            <!--end::Button-->
                        </div>
                        <!--end::Actions-->
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Content-->
            </div>
            <!--end::Basic info-->
            <!--begin::table payroll detail-->
            <div class="card mb-5 mb-xl-10">
                <!--begin::Card header-->
                <div class="card-header border-0 pt-6">
                    <!--begin::Card title-->
                    <div class="card-title">
                        <h3 class="fw-bolder m-0">@Html.Raw("Bảng lương chi tiết")</h3>
                    </div>
                    <!--begin::Card title-->
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar">
                        <!--begin::Search-->
                        <div class="d-flex align-items-center position-relative my-1">
                            <!--begin::Svg Icon | path: icons/duotone/General/Search.svg-->
                            <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"></rect>
                                        <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                        <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"></path>
                                    </g>
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                            <input type="text" data-kt-customer-table-filter="search" id="dtTablePayrollDetailSearch" class="form-control form-control-solid w-250px ps-15" placeholder="Tìm kiếm">
                        </div>
                        <!--end::Search-->
                    </div>
                    <!--end::Card toolbar-->
                </div>
                <!--end::Card header-->
                <!--begin::Content-->

                <div class="card-body">
                    <div id="cardPayrollDetail" class="collapse show">
                        <!--begin::Table-->
                        <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="table-responsive">
                                <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="dtTablePayrollDetail" role="grid"></table>
                            </div>
                        </div>
                        <!--end::Table-->
                    </div>
                </div>

                <!--end::Content-->
            </div>
            <!--end::Basic info-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->

@await Html.PartialAsync("_PartialNotificationAndAskAddNewModal")