

@if (Model.Testimonials.Count > 0)
{
    <text>
        <section class="elementor-section elementor-top-section elementor-element elementor-element-21c7ec4 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="21c7ec4" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-576ec94" data-id="576ec94" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-26b303f rotate4 elementor-widget__width-initial elementor-widget-tablet__width-initial elementor-widget-mobile__width-initial elementor-absolute elementor-widget elementor-widget-image" data-id="26b303f" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img width="715" height="960" src="~/images/hair.png" class="attachment-large size-large" alt="" loading="lazy" srcset="~/images/hair.png 715w, ~/images/hair-223x300.png 223w" sizes="(max-width: 715px) 100vw, 715px" />
                            </div>
                        </div>
                        <section class="elementor-section elementor-inner-section elementor-element elementor-element-00d270e elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="00d270e" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-390a88d" data-id="390a88d" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-af80f52 elementor-widget__width-initial elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="af80f52" data-element_type="widget" data-widget_type="divider.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-divider">
                                                    <span class="elementor-divider-separator">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-c23dc4a elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="c23dc4a" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <p class="elementor-heading-title elementor-size-default">Testimonials</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="elementor-element elementor-element-a420a5b elementor-widget elementor-widget-jet-listing-grid" data-id="a420a5b" data-element_type="widget" data-settings="{&quot;columns&quot;:&quot;1&quot;}" data-widget_type="jet-listing-grid.default">
                            <div class="elementor-widget-container">
                                <div class="jet-listing-grid jet-listing">
                                    <div class="jet-listing-grid__slider" data-slider_options="{&quot;slidesToShow&quot;:{&quot;desktop&quot;:1,&quot;tablet&quot;:1,&quot;mobile&quot;:1},&quot;autoplaySpeed&quot;:5000,&quot;autoplay&quot;:true,&quot;infinite&quot;:true,&quot;centerMode&quot;:false,&quot;speed&quot;:500,&quot;arrows&quot;:true,&quot;dots&quot;:true,&quot;slidesToScroll&quot;:1,&quot;prevArrow&quot;:&quot;&lt;div class=\&quot;jet-listing-grid__slider-icon prev-arrow \&quot; role=\&quot;button\&quot; aria-label=\&quot;Previous\&quot;&gt;&lt;svg viewBox=\&quot;0 0 90 179\&quot; xmlns=\&quot;http:\/\/www.w3.org\/2000\/svg\&quot;&gt;&lt;path transform=\&quot;scale(0.1,-0.1) translate(0,-1536)\&quot; d=\&quot;M640 1088v-896q0 -26 -19 -45t-45 -19t-45 19l-448 448q-19 19 -19 45t19 45l448 448q19 19 45 19t45 -19t19 -45z\&quot; \/&gt;&lt;\/svg&gt;&lt;\/div&gt;&quot;,&quot;nextArrow&quot;:&quot;&lt;div class=\&quot;jet-listing-grid__slider-icon next-arrow \&quot; role=\&quot;button\&quot; aria-label=\&quot;Next\&quot;&gt;&lt;svg viewBox=\&quot;0 0 90 179\&quot; xmlns=\&quot;http:\/\/www.w3.org\/2000\/svg\&quot;&gt;&lt;path transform=\&quot;scale(0.1,-0.1) translate(0,-1536)\&quot; d=\&quot;M640 1088v-896q0 -26 -19 -45t-45 -19t-45 19l-448 448q-19 19 -19 45t19 45l448 448q19 19 45 19t45 -19t19 -45z\&quot; \/&gt;&lt;\/svg&gt;&lt;\/div&gt;&quot;,&quot;rtl&quot;:false,&quot;itemsCount&quot;:2,&quot;fade&quot;:false}" dir="ltr">
                                        <div class="slick-slider jet-listing-grid__items grid-col-desk-1 grid-col-tablet-1 grid-col-mobile-1 jet-listing-grid--416" data-nav="{&quot;enabled&quot;:false,&quot;type&quot;:null,&quot;more_el&quot;:null,&quot;query&quot;:[],&quot;widget_settings&quot;:{&quot;lisitng_id&quot;:&quot;416&quot;,&quot;posts_num&quot;:6,&quot;columns&quot;:1,&quot;columns_tablet&quot;:1,&quot;columns_mobile&quot;:1,&quot;is_archive_template&quot;:&quot;&quot;,&quot;post_status&quot;:[&quot;publish&quot;],&quot;use_random_posts_num&quot;:&quot;&quot;,&quot;max_posts_num&quot;:9,&quot;not_found_message&quot;:&quot;No data was found&quot;,&quot;is_masonry&quot;:false,&quot;equal_columns_height&quot;:&quot;&quot;,&quot;use_load_more&quot;:&quot;&quot;,&quot;load_more_id&quot;:&quot;&quot;,&quot;load_more_type&quot;:&quot;click&quot;,&quot;use_custom_post_types&quot;:&quot;&quot;,&quot;custom_post_types&quot;:[],&quot;hide_widget_if&quot;:&quot;&quot;,&quot;carousel_enabled&quot;:&quot;yes&quot;,&quot;slides_to_scroll&quot;:&quot;1&quot;,&quot;arrows&quot;:&quot;true&quot;,&quot;arrow_icon&quot;:&quot;fa fa-caret-left&quot;,&quot;dots&quot;:&quot;true&quot;,&quot;autoplay&quot;:&quot;true&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;true&quot;,&quot;center_mode&quot;:&quot;&quot;,&quot;effect&quot;:&quot;slide&quot;,&quot;speed&quot;:500,&quot;inject_alternative_items&quot;:&quot;&quot;,&quot;injection_items&quot;:[],&quot;scroll_slider_enabled&quot;:&quot;&quot;,&quot;scroll_slider_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;],&quot;custom_query&quot;:false,&quot;custom_query_id&quot;:&quot;&quot;,&quot;_element_id&quot;:&quot;&quot;}}" data-page="1" data-pages="1" data-listing-source="posts">

                                            @foreach (var item in Model.Testimonials)
                                            {
                                                <text>
                                                    <div class="jet-listing-grid__item jet-listing-dynamic-post-415">
                                                        <div data-elementor-type="jet-listing-items" data-elementor-id="416" class="elementor elementor-416" data-elementor-settings="[]">
                                                            <div class="elementor-section-wrap">
                                                                <section class="elementor-section elementor-top-section elementor-element elementor-element-63e5790 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="63e5790" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                                    <div class="elementor-container elementor-column-gap-default">
                                                                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-8cc84a6" data-id="8cc84a6" data-element_type="column">
                                                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                                                <div class="elementor-element elementor-element-6f3da32 elementor-widget elementor-widget-image" data-id="6f3da32" data-element_type="widget" data-widget_type="image.default">
                                                                                    <div class="elementor-widget-container image-infinite">
                                                                                        <img width="500" height="500" src="@item.Image" class="attachment-full size-full" alt="" loading="lazy" srcset="@item.Image 500w, @item.Image 300w, @item.Image 150w" sizes="(max-width: 500px) 100vw, 500px" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-71d1f53" data-id="71d1f53" data-element_type="column">
                                                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                                                <div class="elementor-element elementor-element-c18d78e elementor-widget__width-initial elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="c18d78e" data-element_type="widget" data-widget_type="divider.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="elementor-divider">
                                                                                            <span class="elementor-divider-separator">
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="elementor-element elementor-element-5e046d5 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="5e046d5" data-element_type="widget" data-widget_type="heading.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <p class="elementor-heading-title elementor-size-default">@item.Code</p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="elementor-element elementor-element-96a6032 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading" data-id="96a6032" data-element_type="widget" data-widget_type="theme-post-title.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <h3 class="elementor-heading-title elementor-size-default">@item.Name</h3>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="elementor-element elementor-element-f231245 elementor-widget__width-initial elementor-absolute elementor-widget-tablet__width-initial elementor-widget-mobile__width-initial elementor-widget elementor-widget-image" data-id="f231245" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <img width="200" height="200" src="/images/note.png" class="attachment-full size-full" alt="" loading="lazy" srcset="/images/note.png 200w, /images/note.png 150w" sizes="(max-width: 200px) 100vw, 200px" />
                                                                                    </div>
                                                                                </div>
                                                                                <div class="elementor-element elementor-element-8a16038 elementor-widget elementor-widget-text-editor" data-id="8a16038" data-element_type="widget" data-widget_type="text-editor.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <p>@item.Description</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </text>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-8ba2ee9 rotate5 elementor-widget__width-initial elementor-widget-tablet__width-initial elementor-widget-mobile__width-initial elementor-absolute elementor-widget elementor-widget-image" data-id="8ba2ee9" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img width="715" height="960" src="~/images/hair.png" class="attachment-large size-large" alt="" loading="lazy" srcset="~/images/hair.png 715w, ~/images/hair-223x300.png 223w" sizes="(max-width: 715px) 100vw, 715px" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </text>
}