@model HeaderViewModel

<script>

        $(document).ready(function () {

            $('#btnChangePassword').click(function (e) {
                e.preventDefault();
                $('#edit_form_password')[0].reset();
                $('#modalFormChangePassword').modal('show');
            });

            $('[name="btnExecuteChangePassword"]').click(function (e) {
                e.preventDefault();

                if (CheckFormDoiMatKhau()) {
                    data = {
                        OldPassword: $("input[name='oldPassword']").val(),
                        NewPassword: $("input[name='newPassword']").val(),
                    };

                    $.ajax({
                        url: "@Url.Action("ChangePassword", "Home", new { area="Admin"})",
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        error: function () {
                            App.notification("top right", "error", "fadeIn animated bx bx-error", "", "Internal Server Error");
                            return false;
                        },
                        success: function (result) {

                            if (!result.isSuccessed) {
                                App.notification("top right", "error", "fadeIn animated bx bx-error", "", result.message);
                            }
                            else {
                                $('#modalFormChangePassword').modal('hide');

                                 App.notification("top right", "success", "fadeIn animated bx bx-check-circle", "", "Updated success.");
                            }
                        }
                    });
                }
            });
        });

        function CheckFormDoiMatKhau() {
            var check = true;
            var error = "";

            if ($("input[id='newPassword']").val() == "") {
                error = "Enter new password.";
                check = false;
            }

             if ($("input[id='reNewPassword']").val() == "") {
                error = "Re enter new password.";
                check = false;
            }

            if ($("input[id='oldPassword']").val() == "") {
                error = "Enter old password.";
                check = false;
            }

            if ($("input[id='newPassword']").val() != $("input[id='reNewPassword']").val()) {
                error = "Re new password wrong new password.";
                check = false;
            }

            if ($("input[id='newPassword']").val() == $("input[id='oldPassword']").val()) {
                error = "New password diffrent old password is required.";
                check = false;
            }

            if (!check) {
              App.notification("top right", "error", "fadeIn animated bx bx-error", "", error);
            }

            return check;
        }

</script>


<div class="topbar d-flex align-items-center">
    <nav class="navbar navbar-expand">
        <div class="mobile-toggle-menu">
            <i class='bx bx-menu'></i>
        </div>
        <div class="search-bar flex-grow-1" hidden>
            <div class="position-relative search-bar-box">
                <input type="text" class="form-control search-control" placeholder="Type to search..."> <span class="position-absolute top-50 search-show translate-middle-y"><i class='bx bx-search'></i></span>
                <span class="position-absolute top-50 search-close translate-middle-y"><i class='bx bx-x'></i></span>
            </div>
        </div>
        <div class="top-menu ms-auto">
            <ul class="navbar-nav align-items-center">
                <li class="nav-item mobile-search-icon" hidden>
                    <a class="nav-link" href="#">
                        <i class='bx bx-search'></i>
                    </a>
                </li>
                <li class="nav-item dropdown dropdown-large">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class='bx bx-category'></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <div class="row row-cols-3 g-3 p-3">
                            <div class="col text-center">
                                <div class="app-box mx-auto bg-gradient-cosmic text-white">
                                    <i class='bx bx-group'></i>
                                </div>
                                <div class="app-title">Teams</div>
                            </div>
                            <div class="col text-center">
                                <div class="app-box mx-auto bg-gradient-burning text-white">
                                    <i class='bx bx-atom'></i>
                                </div>
                                <div class="app-title">Projects</div>
                            </div>
                            <div class="col text-center">
                                <div class="app-box mx-auto bg-gradient-lush text-white">
                                    <i class='bx bx-shield'></i>
                                </div>
                                <div class="app-title">Tasks</div>
                            </div>
                            <div class="col text-center">
                                <div class="app-box mx-auto bg-gradient-kyoto text-dark">
                                    <i class='bx bx-notification'></i>
                                </div>
                                <div class="app-title">Feeds</div>
                            </div>
                            <div class="col text-center">
                                <div class="app-box mx-auto bg-gradient-blues text-dark">
                                    <i class='bx bx-file'></i>
                                </div>
                                <div class="app-title">Files</div>
                            </div>
                            <div class="col text-center">
                                <div class="app-box mx-auto bg-gradient-moonlit text-white">
                                    <i class='bx bx-filter-alt'></i>
                                </div>
                                <div class="app-title">Alerts</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown dropdown-large">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="alert-count">0</span>
                        <i class='bx bx-bell'></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a href="javascript:;">
                            <div class="msg-header">
                                <p class="msg-header-title">Notifications</p>
                                <p class="msg-header-clear ms-auto">Marks all as read</p>
                            </div>
                        </a>
                        <div class="header-notifications-list">
                           
                        </div>
                        <a href="javascript:;">
                            <div class="text-center msg-footer">View All Notifications</div>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown dropdown-large">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="alert-count">0</span>
                        <i class='bx bx-comment'></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a href="javascript:;">
                            <div class="msg-header">
                                <p class="msg-header-title">Messages</p>
                                <p class="msg-header-clear ms-auto">Marks all as read</p>
                            </div>
                        </a>
                        <div class="header-message-list">
                           
                        </div>
                        <a href="javascript:;">
                            <div class="text-center msg-footer">View All Messages</div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="user-box dropdown">
            <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="@if (Model.UserImage != null && !string.IsNullOrEmpty(Model.UserImage)) { <text>@Url.Content(Model.UserImage)</text>} else { <text>@Url.Content("~/Content/theme/img/avatar/avatar.jpg")</text>}" class="user-img" alt="user avatar">
                <div class="user-info ps-3">
                    <p class="user-name mb-0">@Html.Raw(Model.FullName)</p>
                    <p class="designattion mb-0">@Model.Email</p>
                </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
               @* <li>
                    <a class="dropdown-item" href="@Url.Action("XemChiTiet", "Users", new { area = "Admin" })?userId=@(Request.Cookies.Get(CommonConstants.CookieUserID) != null ? Request.Cookies.Get(CommonConstants.CookieUserID).Value : "")"><i class="bx bx-user"></i><span>Hồ sơ cá nhân</span></a>
                </li>*@
                <li>
                    <a class="dropdown-item" href="javascript:;" id="btnChangePassword"><i class="bx bx-cog"></i><span name="ChangePasswordText">Đổi mật khẩu</span></a>
                </li>

                <li>
                    <div class="dropdown-divider mb-0"></div>
                </li>
                <li>
                    @using (Html.BeginForm("LogOut", "Login", FormMethod.Post, new { area = "Admin", id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item"> <i class='bx bx-log-out-circle'></i><span name="LogOutText">Đăng xuất</span></a>
                    }
                    @*<a class="dropdown-item" href="javascript:;"><i class='bx bx-log-out-circle'></i><span>Logout</span></a>*@
                </li>
            </ul>
        </div>
    </nav>
</div>
.5 13H3.5C2.6716 13 2 12.3284 2 11.5C2 10.6716 2.6716 10 3.5 10H20.5C21.3284 10 22 10.6716 22 11.5Z" fill="black" />
                                        <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M14.5 20C15.3284 20 16 19.3284 16 18.5C16 17.6716 15.3284 17 14.5 17H3.5C2.6716 17 2 17.6716 2 18.5C2 19.3284 2.6716 20 3.5 20H14.5ZM8.5 6C9.3284 6 10 5.32843 10 4.5C10 3.67157 9.3284 3 8.5 3H3.5C2.6716 3 2 3.67157 2 4.5C2 5.32843 2.6716 6 3.5 6H8.5Z" fill="black" />
                                    </g>
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </div>
                    </div>
                    <!--end::Heaeder menu toggle-->
                </div>
                <!--end::Toolbar wrapper-->
            </div>
            <!--end::Topbar-->
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Container-->
</div>
<!--end::Header-->
