@model ExaminationViewModel
@using SnailApp.ViewModels.Enums;

@section Vendors_CSS{
	<link rel="stylesheet" href="@Url.Content("~/plugins/DataTables/css/jquery.dataTables.css")" type="text/css">
	<link rel="stylesheet" href="@Url.Content("~/snailsoft/assets/plugins/datatable/css/dataTables.bootstrap5.min.css")" type="text/css">
}

@section Custom_CSS{
<link href="@Url.Content("~/css/customiseDatatable.css")" rel="stylesheet" />
}

@section Vendors_Scripts{
	<script src="@Url.Content("~/snailsoft/assets/plugins/datatable/js/jquery.dataTables.min.js")"></script>
	<script src="@Url.Content("~/snailsoft/assets/plugins/datatable/js/dataTables.bootstrap5.min.js")"></script>
}

@section Custom_Scripts{
<script type="text/javascript" src="@Url.Content("~/js/customiseDatatable.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/ExaminationsResult/Index.js")"></script>
}

<script>
    var user = {
        userId: '@Model.CurrentUserRole.Id',
        userName: '@User.Identity.Name',
        roles: {
            isAllowEdit: @if (Model.CurrentUserRole.IsAllowEdit == true) {<text>true</text>} else {<text>false</text>},
            isAllowDelete: @if (Model.CurrentUserRole.IsAllowDelete == true) {<text>true</text>} else {<text>false</text>}
        }
    };


    $(document).ready(function () {
        ExaminationsResult.init();
    });

</script>

@await Html.PartialAsync("_PartialToolbar")
<div class="card">
	<div class="card-body">
		<div class="d-lg-flex align-items-center mb-4 gap-3">
			<div class="position-relative">
				<input type="text" class="form-control ps-5 radius-30" placeholder="Search" id="dtTableSearch"> <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
                

			</div>
			<div class="ms-auto">
				 <div class="row row-cols-md-auto g-lg-3">
                    <div class="col-md-3">
                         <select data-control="select2" id="FilterStatus" class="form-select form-select-solid  radius-10 single-select">
                            <option value="-1" selected>All</option>
                            <option value="@((int)AppointmentStatus.Cancel)">Cancel</option>
                            <option value="@((int)AppointmentStatus.Booking)">Booking</option>
                            <option value="@((int)AppointmentStatus.Approve)">Approve</option>
                            <option value="@((int)AppointmentStatus.Checkin)">Checkin</option>
                            <option value="@((int)AppointmentStatus.Examined)">Examined</option>
                            <option value="@((int)AppointmentStatus.Checkout)">Checkout</option>
                        </select>
                    </div>

                    <label for="inputFromDate" class="col-md-1 col-form-label text-md-end">From</label>
                    <div class="col-md-4">
                        <input type="date" class="form-control" id="inputFromDate">
                    </div>
                    <label for="inputFromDate" class="col-md-1 col-form-label text-md-end">To</label>
                    <div class="col-md-3">
                        <input type="date" class="form-control" id="inputToDate">
                    </div>
                </div>
			</div>
		</div>
		<div class="table-responsive">
            <table class="table mb-0 align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="dtTable" role="grid"></table>
		</div>
	</div>
</div>

@await Html.PartialAsync("_PartialConfirmDeleteModal")


