@model MenuViewModel



@section Vendors_CSS{
    <link rel="stylesheet" href="@Url.Content("~/plugins/DataTables/css/jquery.dataTables.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/plugins/DataTables/css/dataTables.bootstrap4.min.css")" type="text/css">
	<link href="~/snailsoft/assets/plugins/select2/css/select2.min.css" rel="stylesheet" />
	<link href="~/snailsoft/assets/plugins/select2/css/select2-bootstrap4.css" rel="stylesheet" />
}

@section Custom_CSS{
    <link href="@Url.Content("~/css/customiseDatatable.css")" rel="stylesheet" />
	<link href="@Url.Content("~/css/customiseSelect2.css")" rel="stylesheet" />
}

@section Vendors_Scripts{
    <script src="@Url.Content("~/plugins/DataTables/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/plugins/DataTables/js/dataTables.bootstrap4.min.js")"></script>
	<script src="~/snailsoft/assets/plugins/select2/js/select2.min.js"></script>
}

@section Custom_Scripts{

    <script type="text/javascript" src="@Url.Content("~/js/customiseDatatable.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/Menu/Index.js")"></script>
}

<script>
	 var editingData = null;

    var user = {
        userId: '@Model.CurrentUserRole.Id',
        userName: '@User.Identity.Name',
        roles: {
            isAllowEdit: @if (Model.CurrentUserRole.IsAllowEdit == true) {<text>true</text>} else {<text>false</text>},
            isAllowDelete: @if (Model.CurrentUserRole.IsAllowDelete == true) {<text>true</text>} else {<text>false</text>}
        }
    };

    $(document).ready(function () {
        Menu.init();
    });

</script>


<!--breadcrumb-->
@await Html.PartialAsync("_PartialToolbar")
<!--end breadcrumb-->
			  
<div class="card">
	<div class="card-body">
		<div class="d-lg-flex align-items-center mb-4 gap-3">
			<div class="position-relative">
				<input type="text" class="form-control ps-5 radius-30" placeholder="Search" id="dtTableSearch"> <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
			</div>
			<div class="ms-auto">
				@if (Model.CurrentUserRole.IsAllowEdit)
                {
                    <text>
						<button type="button"class="btn btn-primary mt-2 mt-lg-0" name="btnCreate">Create</button>
                                  
                    </text>
                }
                @if (Model.CurrentUserRole.IsAllowDelete)
                {
                    <text>
						<button type="button"class="btn btn-danger mt-2 mt-lg-0" name="btnDelete">Delete</button>
                    </text>
                }
			</div>
		</div>
		<div class="table-responsive">
            <table class="table mb-0 align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="dtTable" role="grid"></table>
		</div>
	</div>
</div>

<div class="switcher-wrapper ">
		<div class="switcher-btn" hidden> <i class="bx bx-cog bx-spin"></i>
		</div>
		<div class="switcher-body" style="overflow-y:scroll; height:90vh; overflow-x: hidden;">
			<div class="d-flex align-items-center mb-5">
				<h5 class="mb-0 text-uppercase" id="titleCreateOrUpdate">Create</h5>
				<button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
			</div>

			<form id="edit_form">
				<div class="mb-3">
					<div class="row g-0">

						<div class="col-md-12" >
							<div class="mb-3 px-1 select2-sm">
								 <select id="ParentId" aria-label="Select a Roles" data-control="select2" data-placeholder="@Html.Raw("Select parent...")"
								 data-field="ParentId" class="form-select form-select-solid form-select-lg radius-15 single-select">
								 </select>
							</div>
						</div>

						<div class="col-md-6" >
							<div class="mb-3">
								<label class="form-label">Code(*)</label>
								<input type="text" class="form-control radius-15" data-field="Code" placeholder="Enter code">
							</div>
						</div>

						<div class="col-md-6" >
							<div class="mb-3 px-1">
								<label class="form-label">Name(*)</label>
								<input type="text" class="form-control radius-15" data-field="Name" placeholder="Enter name">
							</div>
						</div>

						<div class="col-md-6" >
							<div class="mb-3 px-1">
								<label class="form-label">Icon</label>
								<input type="text" class="form-control radius-15" data-field="Icon" placeholder="Enter icon">
							</div>
						</div>

						<div class="col-md-6" >
							<div class="mb-3 px-1">
								<label class="form-label">Link</label>
								<input type="text" class="form-control radius-15" data-field="Link" placeholder="Enter Link">
							</div>
						</div>

						<div class="col-md-6" >
							<div class="mb-3 px-1">
								<label class="form-label">Sort Order</label>
								<input type="number" class="form-control radius-15" data-field="SortOrder" placeholder="Enter Sort Order">
							</div>
						</div>
						
						<div class="col-md-6" >
							<div class="mb-3 px-1">
								<label class="form-label">Controller Name</label>
								<input type="text" class="form-control radius-15" data-field="ControllerName" placeholder="Enter Controller Name">
							</div>
						</div>

						<div class="col-md-6" >
							<div class="mb-3 px-1">
								<label class="form-label">Action Name</label>
								<input type="text" class="form-control radius-15" data-field="ActionName" placeholder="Enter Action Name">
							</div>
						</div>

						<div class="col-md-12" >
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" data-field="IsVisible"  checked>
								<label class="form-check-label" for="IsVisible">Visible</label>
							</div>
						</div>
					</div>
				</div>
		

			</form>

				<div class="row row-cols-auto g-3 px-1">
					<div class="col-md-6" >
						<div class="mb-3 px-1">
							<button type="button" class="btn btn-danger px-5 radius-15" name="btnCancel">Cancel</button>

						</div>
					</div>
					<div class="col-md-6" >
						<div class="mb-3 px-1">
							<button type="button" class="btn btn-primary px-5 radius-15" name="btnUpdate">Update</button>

						</div>
					</div>
				</div>
		</div>
</div>

@await Html.PartialAsync("_PartialConfirmDeleteModal")
