@model PromotionViewModel

@{
    ViewBag.Title = "Khuyến mãi";
}

@section Vendors_CSS{

}

@section Custom_CSS{
    <link href="@Url.Content("~/css/Promotion/BasicInfoEdit.css")" rel="stylesheet" />
}

@section Vendors_Scripts{
    <script src="@Url.Content("~/js/customiseFlatpickr.js")"></script>
}

@section Custom_Scripts{
    <script type="text/javascript" src="@Url.Content("~/js/Promotion/BasicInfoEdit.js")"></script>
}

<script>
    var user = {
        userId: '@Model.CurrentUserRole.Id',
        userName: '@User.Identity.Name',
        roles: {
            isAllowEdit: @if (Model.CurrentUserRole.IsAllowEdit == true) {<text>true</text>} else {<text>false</text>},
            isAllowDelete: @if (Model.CurrentUserRole.IsAllowDelete == true) {<text>true</text>} else {<text>false</text>}
        }
    };

    @if (Model.Promotion != null)
    {
        <text>
            var editingData = {
                id: '@Model.Promotion.Id'
            };
        </text>
    }
    else
    {
        <text>
            editingData = null;
        </text>
    }

    $(document).ready(function () {
        Promotion.init();
    });

</script>

@await Html.PartialAsync("_PartialToolbar")

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container">
            @await Html.PartialAsync("_PartialEditHeader")

            <!--begin::Basic info-->
            <div class="card mb-5 mb-xl-10">
                <!--begin::Card header-->
                <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#edit" aria-expanded="true" aria-controls="edit">
                    <!--begin::Card title-->
                    <div class="card-title m-0">
                        <h3 class="fw-bolder m-0">@Html.Raw("Thông tin cơ bản")</h3>
                    </div>
                    <!--end::Card title-->
                </div>
                <!--begin::Card header-->
                <!--begin::Content-->
                <div id="edit" class="collapse show">
                    <!--begin::Form-->
                    <form id="edit_form" class="form">
                        <!--begin::Card body-->
                        <div class="card-body border-top p-9">
                            <!--begin::Input group-->
                            <div class="row mb-6">
                                <!--begin::Label-->
                                <label class="col-lg-4 col-form-label required fw-bold fs-6">@Html.Raw("Mã chương trình khuyến mãi")</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-8 fv-row">
                                    <input type="text" name="edit_form_code" class="form-control form-control-lg form-control-solid" placeholder="@Html.Raw("Mã chương trình khuyến mãi")" data-field="Code" @if (Model.Promotion != null) { <text> value="@Model.Promotion.Code" </text> } />
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="row mb-6">
                                <!--begin::Label-->
                                <label class="col-lg-4 col-form-label required fw-bold fs-6">@Html.Raw("Tiêu đề")</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-8 fv-row">
                                    <input type="text" name="edit_form_name" class="form-control form-control-lg form-control-solid" placeholder="@Html.Raw("Tiêu đề")" data-field="Name" @if (Model.Promotion != null) { <text> value="@Model.Promotion.Name" </text> } />
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="row mb-6">
                                <!--begin::Label-->
                                <label class="col-lg-4 col-form-label required fw-bold fs-6">@Html.Raw("Mô tả")</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-8 fv-row">
                                    <input type="text" name="edit_form_description" class="form-control form-control-lg form-control-solid" placeholder="@Html.Raw("Mô tả")" data-field="Description" @if (Model.Promotion != null) { <text> value="@Model.Promotion.Description" </text> } />
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="row mb-6">
                                <!--begin::Label-->
                                <label class="col-lg-4 col-form-label required fw-bold fs-6">@Html.Raw("Ngày áp dụng")</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-8">
                                    <!--begin::Row-->
                                    <div class="row">
                                        <!--begin::Col-->
                                        <div class="col-lg-6 fv-row">
                                            <input type="text" name="edit_form_fromDate" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0 flatpickr" flatpickr data-field="FromDate" placeholder="@Html.Raw("Ngày bắt đầu")" @if (Model.Promotion != null) { if (Model.Promotion.FromDate != null) { <text> value="@Model.Promotion.FromDate.Value.ToString("dd/MM/yyyy")" </text> } } />
                                        </div>
                                        <!--end::Col-->
                                        <!--begin::Col-->
                                        <div class="col-lg-6 fv-row">
                                            <input type="text" name="edit_form_toDate" class="form-control form-control-lg form-control-solid flatpickr" data-field="ToDate" placeholder="@Html.Raw("Ngày kết thúc")" @if (Model.Promotion != null) { if (Model.Promotion.ToDate != null) { <text> value="@Model.Promotion.ToDate.Value.ToString("dd/MM/yyyy")" </text> } } />
                                        </div>
                                        <!--end::Col-->
                                    </div>
                                    <!--end::Row-->
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="row mb-0">
                                <!--begin::Label-->
                                <label class="col-lg-4 col-form-label fw-bold fs-6">@Html.Raw("Áp dụng chương trình này")</label>
                                <!--begin::Label-->
                                <!--begin::Label-->
                                <div class="col-lg-8 d-flex align-items-center">
                                    <div class="form-check form-check-solid form-switch fv-row">
                                        <input class="form-check-input w-45px h-30px" type="checkbox" name="edit_form_isApply" data-field="IsApply" @if (Model.Promotion != null) { if (Model.Promotion.IsApply == true) { <text> checked</text>} } />
                                        <label class="form-check-label" for="IsApply"></label>
                                    </div>
                                </div>
                                <!--begin::Label-->
                            </div>
                            <!--end::Input group-->
                        </div>
                        <!--end::Card body-->
                        <!--begin::Actions-->
                        <div class="card-footer d-flex justify-content-end py-6 px-9">
                            <!--begin::Button-->
                            <button type="button" id="edit_form_submit" class="btn btn-primary">
                                <span id="kt_modal_edit_submit_text" class="indicator-label">@Html.Raw("Cập nhật")</span>
                                <span class="indicator-progress">
                                    @Html.Raw("Đang cập nhật...")
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                            <!--end::Button-->
                        </div>
                        <!--end::Actions-->
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Content-->
            </div>
            <!--end::Basic info-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->
