@using SnailApp.ViewModels.Enums;
@model BaseViewModel

@section Vendors_CSS{
<link rel="stylesheet" href="@Url.Content("~/plugins/DataTables/css/jquery.dataTables.css")" type="text/css">
<link rel="stylesheet" href="@Url.Content("~/snailsoft/assets/plugins/datatable/css/dataTables.bootstrap5.min.css")" type="text/css">
<link rel="stylesheet" href="@Url.Content("~/snailsoft/assets/plugins/fullcalendar/css/main.min.css")" type="text/css">
<link rel="stylesheet" href="@Url.Content("~/snailsoft/assets/plugins/smart-wizard/css/smart_wizard_all.min.css")" type="text/css">
<link rel="stylesheet" href="@Url.Content("~/snailsoft/assets/plugins/datetimepicker/css/classic.css")" type="text/css">
<link rel="stylesheet" href="@Url.Content("~/snailsoft/assets/plugins/datetimepicker/css/classic.time.css")" type="text/css">

}
@section Custom_CSS{
<link href="@Url.Content("~/css/customiseDatatable.css")" rel="stylesheet" />
}

@section Vendors_Scripts{
<script src="@Url.Content("~/snailsoft/assets/plugins/datatable/js/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/snailsoft/assets/plugins/datatable/js/dataTables.bootstrap5.min.js")"></script>
<script src="@Url.Content("~/snailsoft/assets/plugins/fullcalendar/js/main.min.js")"></script>
<script src="@Url.Content("~/snailsoft/assets/plugins/smart-wizard/js/jquery.smartWizard.min.js")"></script>
<script src="@Url.Content("~/snailsoft/assets/plugins/datetimepicker/js/picker.js")"></script>
<script src="@Url.Content("~/snailsoft/assets/plugins/datetimepicker/js/picker.time.js")"></script>
<script src="@Url.Content("~/plugins/autoNumeric/autoNumeric.js")"></script>

}

@section Custom_Scripts{
<script type="text/javascript" src="@Url.Content("~/js/customiseDatatable.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/customiseAutoNumeric.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Appointment/Index.js")"></script>
}

<script>
    var user = {
        userId: '@Model.CurrentUserRole.Id',
        userName: '@User.Identity.Name',
        roles: {
            isAllowEdit: @if (Model.CurrentUserRole.IsAllowEdit == true)
    {
        <text>true</text>
    }
    else
    {
        <text>false</text>
    },
            isAllowDelete: @if (Model.CurrentUserRole.IsAllowDelete == true)
    {
        <text>true</text>
    }
    else
    {
        <text>false</text>
    }
        }
    };
    var checkinStaus = '@((int)AppointmentStatus.Checkin)';
    var checkoutStaus = '@((int)AppointmentStatus.Checkout)';
    var bookingStaus = '@((int)AppointmentStatus.Booking)';

    $(document).ready(function () {
        Appointment.init();
    });

</script>

@await Html.PartialAsync("_PartialToolbar")
<div class="card">
    <div class="card-body">
        <div class="row  mb-4">
            <div class="col-md-8">
                <div class="badge border-left border-4 font-14 text-cancel"><i class="bx bx-radio-circle-marked  bx-rotate-90 align-middle font-18 me-1"></i><span class="mb-0 text-cancel"> Cancel </span></div>
                <div class="badge border-left border-4 font-14 text-booking"><i class="bx bx-radio-circle-marked  bx-rotate-90 align-middle font-18 me-1"></i><span class="mb-0 text-booking"> Booking </span></div>
                <div class="badge border-left border-4 font-14 text-confirm"><i class="bx bx-radio-circle-marked bx-rotate-90 align-middle font-18 me-1"></i><span class="mb-0 text-confirm"> Confirm </span></div>
                <div class="badge border-left border-4 font-14 text-checkin"><i class="bx bx-radio-circle-marked bx-rotate-90 align-middle font-18 me-1"></i><span class="mb-0 text-checkin"> Checkin </span></div>
                <div class="badge border-left border-4 font-14  text-examination"><i class="bx bx-radio-circle-marked bx-rotate-90 align-middle font-18 me-1"></i><span class="mb-0 text-examination"> Examination </span></div>
                <div class="badge border-left border-4 font-14 text-checkout"><i class="bx bx-radio-circle-marked bx-rotate-90 align-middle font-18 me-1"></i><span class="mb-0 text-checkout"> Checkout </span></div>
            </div>
            <div class="col-md-2">
                <div class="d-flex py-2">
                    <select data-control="select2" id="FilterStatus" class="form-select form-select-solid  radius-10 single-select">
                        <option value="-1" selected>All</option>
                        <option value="@((int)AppointmentStatus.Cancel)">Cancel</option>
                        <option value="@((int)AppointmentStatus.Booking)">Booking</option>
                        <option value="@((int)AppointmentStatus.Approve)">Approve</option>
                        <option value="@((int)AppointmentStatus.Checkin)">Checkin</option>
                        <option value="@((int)AppointmentStatus.Examined)">Examined</option>
                        <option value="@((int)AppointmentStatus.Checkout)">Checkout</option>
                    </select>
                </div>
            </div>
            @if (Model.CurrentUserRole.IsAllowEdit)
            {
                <text>
                    <div class="col-md-2 d-flex py-2">
                        <button type="button" class="btn btn-primary w-100  font-14" name="btnCreate"><i class="fadeIn animated bx bx-add-to-queue"></i> Create Appointment</button>
                    </div>
                </text>
            }
        </div>

        <div class="table-responsive">
            <div id="calendar"></div>
        </div>
    </div>
</div>

<div class="switcher-wrapper border-top border-0 border-4 border-primary  snail-bg-blue">
    <div class="switcher-btn" hidden>
        <i class="bx bx-cog bx-spin"></i>
    </div>
    <div class="switcher-body snail-bg-blue">
       
         <div class="card-title d-flex align-items-center">
            <h5 class="mb-0 text-uppercase"><i class="bx bx-book-add"></i> Create Appointment</h5>
            <button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
        </div>
        <hr>
        <div id="CreateInfomation">
            <div id="smartwizard">
                <ul class="nav">
                    <li>
                        <a class="nav-link" href="#step-1">
                            <strong>INFORMATION</strong>
                            <br>
                            thông tin
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#step-2">
                            
                             <strong>SERVICES</strong>
                            <br>
                            thông tin
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#step-3">
                            Review & Finish
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="step-1" class="tab-pane" role="tabpanel">
                        <form id="edit-form">
                            <div class="row g-1">
                                <div class="col-sm-9">
                                    <div class="mb-3 px-1 select2-sm">
                                        <label class="form-label">Patient(*)</label>
                                        <select id="edit_form_patient" data-control="select2" data-field="PatientId"
                                                class="form-select form-select-solid form-select-md radius-15 single-select">
                                        </select>
                                    </div>
                                </div>
                                  <div class="col-sm-3">
                                    <div class="mb-3 px-1" style="margin-top:29px !important;"> 
                                        <button type="button" class="btn btn-primary w-100  font-14" name="btnCreatePatient"><i class="fadeIn animated bx bx-add-to-queue"></i> Create </button>
                                    </div>
                                </div>
                                <div id="PatientInfomation">
                                    <div class=" d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret">
                                        <img src="~/snailsoft/assets/images/avatars/avatar-1.png" width="110" height="110" id="avatarImage" class="rounded-circle p-1 bg-primary" alt="">
                                        <div class="user-info ps-3">
                                            <h5><i class="bx bxs-user"></i> <span data-name="patientFullName"></span></h5>
                                            <span class="text-secondary mb-1"><i class="fadeIn animated bx bx-barcode-reader"></i> <span data-name="patientCode"></span></span><br />
                                            <span class="text-muted font-size-sm"><i class="fadeIn animated bx bx-phone-call"></i> <span data-name="patientPhoneNumber"></span></span><br />
                                            <span class="text-muted font-size-sm"><i class="fadeIn animated bx bx-envelope-open"></i> <span data-name="patientEmail"></span></span><br />
                                            <span class="text-muted font-size-sm"><i class="fadeIn animated bx bx-been-here"></i> <span data-name="patientAddress"></span></span><br />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body mx-0 px-0 px-0 py-2">
                                        <div class="input-group">
                                            <span class="input-group-text form-control-sm"><i class="fadeIn animated bx bx-calendar-check"></i></span>
                                            <input class="result form-control form-control-sm" type="date" data-field="Date" id="dateCreated" placeholder="Enter date" value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card-body mx-0 px-0 px-0 py-2">
                                        <div class="input-group">
                                            <span class="input-group-text form-control-sm"><i class="fadeIn animated bx bx-time"></i></span>
                                            <input class="result form-control form-control-sm timepicker" type="text" id="timeCreated" value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card-body mx-0 px-0 px-0 py-2">
                                        <div class="input-group">
                                            <span class="input-group-text form-control-sm"><i class="fadeIn animated bx bx-pin"></i></span>
                                            <select data-control="select2" data-field="Status" class="form-select form-select-solid  radius-15 single-select">
                                                <option value="@((int)AppointmentStatus.Cancel)">Cancel</option>
                                                <option value="@((int)AppointmentStatus.Booking)">Booking</option>
                                                <option value="@((int)AppointmentStatus.Approve)" selected>Approve</option>
                                                <option value="@((int)AppointmentStatus.Checkin)">Checkin</option>
                                                <option value="@((int)AppointmentStatus.Examined)">Examined</option>
                                                <option value="@((int)AppointmentStatus.Checkout)">Checkout</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="mb-3 px-1 select2-sm">
                                        <label class="form-label">Doctor(*)</label>
                                        <select id="edit_form_doctor" data-control="select2" data-field="DoctorId"
                                                class="form-select form-select-solid form-select-md radius-15 single-select">
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="card-body mx-0 px-0 px-0 py-2">
                                        <div class="input-group">
                                            <span class="input-group-text form-control-sm"><i class="fadeIn animated bx bx-book"></i></span>
                                            <textarea class="form-control form-control-sm" data-field="Description" rows="3" placeholder="Enter Note..."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="step-2" class="tab-pane" role="tabpanel">
                        <form id="service-form">
                            <div class="row g-1">
                                <div class="col-md-12">
                                    <div class="mb-3 px-1 select2-sm">
                                        <label class="form-label">Service</label>
                                        <select id="service-form-service" data-control="select2"
                                                class="form-select form-select-solid form-select-md radius-15 single-select">
                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <div class="accordion" id="listService">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="step-3" class="tab-pane" role="tabpanel">
                        <div class="row row-cols-auto g-3 px-1">
                            <div class="table-responsive col-md-12">
                                <table class="table mb-0">
                                    <thead class="table-light">
                                        <tr>
                                            <th style="width: 40%; white-space: normal;">Service</th>
                                            <th style="width: 20%;">Price</th>
                                            <th style="width: 20%;">Qty</th>
                                            <th style="width: 20%;">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody id="reviewService">
                                    </tbody>
                                </table>
                            </div>
                        </div>

                      
                        <div class="row row-cols-auto g-3 px-1">
                            <div class="col-md-12">
                                <div class="mb-3 px-1">
                                    <button type="button" class="btn btn-primary px-5 radius-15 w-100" name="btnUpdate">Save</button>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="mb-3 px-1">
                                    <button type="button" class="btn btn-danger px-5 radius-15 w-100" name="btnCheckin">Checkin</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_PartialConfirmDeleteModal")






<div class="modal fade" id="createPatientModal" tabindex="-1" aria-labelledby="createPatientModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="createPatientModalLabel">Create Patient</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
                <form id="createPatient" class="row g-3">
					<div class="col-md-6">
						<label for="inputLastName1" class="form-label">First Name</label>
						<div class="input-group"> <span class="input-group-text bg-transparent"><i class="bx bxs-user"></i></span>
							<input type="text" class="form-control border-start-0" id="inputLastName1" data-field="FirstName" placeholder="First Name">
						</div>
					</div>
					<div class="col-md-6">
						<label for="inputLastName2" class="form-label">Last Name</label>
						<div class="input-group"> <span class="input-group-text bg-transparent"><i class="bx bxs-user"></i></span>
							<input type="text" class="form-control border-start-0" id="inputLastName2" data-field="LastName"  placeholder="Last Name">
						</div>
					</div>
					<div class="col-12">
						<label for="inputPhoneNo" class="form-label">Phone No</label>
						<div class="input-group"> <span class="input-group-text bg-transparent"><i class="bx bxs-microphone"></i></span>
							<input type="text" class="form-control border-start-0" id="inputPhoneNo" data-field="PhoneNumber" placeholder="Phone No">
						</div>
					</div>
					<div class="col-12">
						<label for="inputEmailAddress" class="form-label">Email Address</label>
						<div class="input-group"> <span class="input-group-text bg-transparent"><i class="bx bxs-message"></i></span>
							<input type="text" class="form-control border-start-0" id="inputEmailAddress" data-field="Email" placeholder="Email Address">
						</div>
					</div>
					<div class="col-12">
						<label for="inputAddress3" class="form-label">Address</label>
						<textarea class="form-control" id="inputAddress3" placeholder="Enter Address" rows="3" data-field="Address"></textarea>
					</div>

                    <div class="col-md-12 align-items-center">
                        <div class="row px-2">
                            <div class="form-check col-md-6 py-3">
                                <input class="form-check-input py-2 px-2" type="radio" value="1" name="Gender" id="Male">
                                <label class="form-check-label" for="Male"><i class="fadeIn animated bx bx-male text-primary display-7"></i>Male</label>
                            </div>
                            <div class="form-check col-md-6  py-3">
                                <input class="form-check-input py-2 px-2" type="radio" value="2" name="Gender" id="Female">
                                <label class="form-check-label" for="Female"><i class="fadeIn animated bx bx-female text-primary display-7"></i>Female</label>
                            </div>
                        </div>
                    </div>
				</form>
            </div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" name="btnSavePatient">Save changes</button>
			</div>
		</div>
	</div>
</div>