@using SnailApp.ViewModels.Enums;
@model BaseViewModel

@section Vendors_CSS{
<link rel="stylesheet" href="@Url.Content("~/plugins/DataTables/css/jquery.dataTables.css")" type="text/css">
<link rel="stylesheet" href="@Url.Content("~/snailsoft/assets/plugins/datatable/css/dataTables.bootstrap5.min.css")" type="text/css">
<link rel="stylesheet" href="@Url.Content("~/snailsoft/assets/plugins/fullcalendar/css/main.min.css")" type="text/css">
<link rel="stylesheet" href="@Url.Content("~/snailsoft/assets/plugins/smart-wizard/css/smart_wizard_all.min.css")" type="text/css">
<link rel="stylesheet" href="@Url.Content("~/snailsoft/assets/plugins/datetimepicker/css/classic.css")" type="text/css">
<link rel="stylesheet" href="@Url.Content("~/snailsoft/assets/plugins/datetimepicker/css/classic.time.css")" type="text/css">

}
@section Custom_CSS{
<link href="@Url.Content("~/css/customiseDatatable.css")" rel="stylesheet" />
}

@section Vendors_Scripts{
<script src="@Url.Content("~/snailsoft/assets/plugins/datatable/js/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/snailsoft/assets/plugins/datatable/js/dataTables.bootstrap5.min.js")"></script>
<script src="@Url.Content("~/snailsoft/assets/plugins/fullcalendar/js/main.min.js")"></script>
<script src="@Url.Content("~/snailsoft/assets/plugins/smart-wizard/js/jquery.smartWizard.min.js")"></script>
<script src="@Url.Content("~/snailsoft/assets/plugins/datetimepicker/js/picker.js")"></script>
<script src="@Url.Content("~/snailsoft/assets/plugins/datetimepicker/js/picker.time.js")"></script>
<script src="@Url.Content("~/plugins/autoNumeric/autoNumeric.js")"></script>

}

@section Custom_Scripts{
<script type="text/javascript" src="@Url.Content("~/js/customiseDatatable.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/customiseAutoNumeric.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Appointment/Index.js")"></script>
}

<script>
    var user = {
        userId: '@Model.CurrentUserRole.Id',
        userName: '@User.Identity.Name',
        roles: {
            isAllowEdit: @if (Model.CurrentUserRole.IsAllowEdit == true)
    {
        <text>true</text>
    }
    else
    {
        <text>false</text>
    },
            isAllowDelete: @if (Model.CurrentUserRole.IsAllowDelete == true)
    {
        <text>true</text>
    }
    else
    {
        <text>false</text>
    }
        }
    };
    var checkinStaus = '@((int)AppointmentStatus.Checkin)';
    var checkoutStaus = '@((int)AppointmentStatus.Checkout)';
    var bookingStaus = '@((int)AppointmentStatus.Booking)';

    $(document).ready(function () {
        Appointment.init();
    });

</script>

@await Html.PartialAsync("_PartialToolbar")
<div class="card">
    <div class="card-body">
        <div class="row  mb-4">
            <div class="col-md-6">
                <div class="badge border-left border-4 bg-cancel text-cancel"><i class="bx bx-radio-circle-marked bx-burst bx-rotate-90 align-middle font-18 me-1"></i><span class="mb-0 text-cancel"> Cancel </span></div>
                <div class="badge border-left border-4 bg-booking text-booking"><i class="bx bx-radio-circle-marked bx-burst bx-rotate-90 align-middle font-18 me-1"></i><span class="mb-0 text-booking"> Booking </span></div>
                <div class="badge border-left border-4 bg-confirm text-confirm"><i class="bx bx-radio-circle-marked bx-burst bx-rotate-90 align-middle font-18 me-1"></i><span class="mb-0 text-confirm"> Confirm </span></div>
                <div class="badge border-left border-4 bg-checkin text-checkin"><i class="bx bx-radio-circle-marked bx-burst bx-rotate-90 align-middle font-18 me-1"></i><span class="mb-0 text-checkin"> Checkin </span></div>
                <div class="badge border-left border-4  bg-examination text-examination"><i class="bx bx-radio-circle-marked bx-burst bx-rotate-90 align-middle font-18 me-1"></i><span class="mb-0 text-examination"> Examination </span></div>
                <div class="badge border-left border-4  bg-checkout text-checkout"><i class="bx bx-radio-circle-marked bx-burst bx-rotate-90 align-middle font-18 me-1"></i><span class="mb-0 text-checkout"> Checkout </span></div>
            </div>
            <div class="col-md-3">
                <div class="d-flex align-items-center gap-3">
                    <select data-control="select2" id="FilterStatus" class="form-select form-select-solid  radius-10 single-select">
                        <option value="-1" selected>All</option>
                        <option value="@((int)AppointmentStatus.Cancel)">Cancel</option>
                        <option value="@((int)AppointmentStatus.Booking)">Booking</option>
                        <option value="@((int)AppointmentStatus.Approve)">Approve</option>
                        <option value="@((int)AppointmentStatus.Checkin)">Checkin</option>
                        <option value="@((int)AppointmentStatus.Examined)">Examined</option>
                        <option value="@((int)AppointmentStatus.Checkout)">Checkout</option>
                    </select>


                </div>


            </div>
            @if (Model.CurrentUserRole.IsAllowEdit)
            {
                <text>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary w-100" name="btnCreate"><i class="fadeIn animated bx bx-add-to-queue"></i> Create Appointment</button>
                    </div>
                </text>
            }
        </div>

        <div class="table-responsive">
            <div id="calendar"></div>
        </div>
    </div>
</div>

<div class="switcher-wrapper border-top border-0 border-4 border-primary  snail-bg-blue">
    <div class="switcher-btn" hidden>
        <i class="bx bx-cog bx-spin"></i>
    </div>
    <div>
        <div class="d-flex align-items-center white mb-2 mx-0 radius-10 bg-primary py-2 px-1">
            <h4 class="mb-0"><i class="bx bx-user-circle"></i> </h4><h6 class="mb-1 text-uppercase" id="titleCreateOrUpdate">Create Appointment</h6>
            <button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
        </div>

        <div id="CreateInfomation">
            <div id="smartwizard">
                <ul class="nav">
                    <li>
                        <a class="nav-link" href="#step-1">
                            Infomation
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#step-2">
                            Choose service
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#step-3">
                            Review & Finish
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="step-1" class="tab-pane" role="tabpanel">
                        <form id="edit-form">
                            <div class="row g-1">
                                <div class="col-sm-12">
                                    <div class="mb-3 px-1 select2-sm">
                                        <label class="form-label">Patient(*)</label>
                                        <select id="edit_form_patient" data-control="select2" data-field="PatientId"
                                                class="form-select form-select-solid form-select-md radius-15 single-select">
                                        </select>
                                    </div>
                                </div>
                                <div id="PatientInfomation">
                                    <div class=" d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret">
                                        <img src="~/snailsoft/assets/images/avatars/avatar-1.png" width="110" height="110" id="avatarImage" class="rounded-circle p-1 bg-primary" alt="">
                                        <div class="user-info ps-3">
                                            <h5><i class="bx bxs-user"></i> <span data-name="patientFullName"></span></h5>
                                            <span class="text-secondary mb-1"><i class="fadeIn animated bx bx-barcode-reader"></i> <span data-name="patientCode"></span></span><br />
                                            <span class="text-muted font-size-sm"><i class="fadeIn animated bx bx-phone-call"></i> <span data-name="patientPhoneNumber"></span></span><br />
                                            <span class="text-muted font-size-sm"><i class="fadeIn animated bx bx-envelope-open"></i> <span data-name="patientEmail"></span></span><br />
                                            <span class="text-muted font-size-sm"><i class="fadeIn animated bx bx-been-here"></i> <span data-name="patientAddress"></span></span><br />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body mx-0 px-0 px-0 py-2">
                                        <div class="input-group">
                                            <span class="input-group-text form-control-sm"><i class="fadeIn animated bx bx-calendar-check"></i></span>
                                            <input class="result form-control form-control-sm" type="date" data-field="Date" id="dateCreated" placeholder="Enter date" value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card-body mx-0 px-0 px-0 py-2">
                                        <div class="input-group">
                                            <span class="input-group-text form-control-sm"><i class="fadeIn animated bx bx-time"></i></span>
                                            <input class="result form-control form-control-sm timepicker" type="text" id="timeCreated" value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card-body mx-0 px-0 px-0 py-2">
                                        <div class="input-group">
                                            <span class="input-group-text form-control-sm"><i class="fadeIn animated bx bx-pin"></i></span>
                                            <select disabled data-control="select2" data-field="Status" class="form-select form-select-solid  radius-15 single-select">
                                                <option value="@((int)AppointmentStatus.Cancel)">Cancel</option>
                                                <option value="@((int)AppointmentStatus.Booking)" selected>Booking</option>
                                                <option value="@((int)AppointmentStatus.Approve)">Approve</option>
                                                <option value="@((int)AppointmentStatus.Checkin)">Checkin</option>
                                                <option value="@((int)AppointmentStatus.Examined)">Examined</option>
                                                <option value="@((int)AppointmentStatus.Checkout)">Checkout</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="mb-3 px-1 select2-sm">
                                        <label class="form-label">Doctor(*)</label>
                                        <select id="edit_form_doctor" data-control="select2" data-field="DoctorId"
                                                class="form-select form-select-solid form-select-md radius-15 single-select">
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="card-body mx-0 px-0 px-0 py-2">
                                        <div class="input-group">
                                            <span class="input-group-text form-control-sm"><i class="fadeIn animated bx bx-book"></i></span>
                                            <textarea class="form-control form-control-sm" data-field="Description" rows="3" placeholder="Enter Note..."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="step-2" class="tab-pane" role="tabpanel">
                        <form id="service-form">
                            <div class="row g-1">
                                <div class="col-md-12">
                                    <div class="mb-3 px-1 select2-sm">
                                        <label class="form-label">Service</label>
                                        <select id="service-form-service" data-control="select2"
                                                class="form-select form-select-solid form-select-md radius-15 single-select">
                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <div class="accordion" id="listService">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="step-3" class="tab-pane" role="tabpanel">
                        <div class="row row-cols-auto g-3 px-1">
                            <div class="table-responsive col-md-12">
                                <table class="table mb-0">
                                    <thead class="table-light">
                                        <tr>
                                            <th style="width: 40%; white-space: normal;">Service</th>
                                            <th style="width: 20%;">Price</th>
                                            <th style="width: 20%;">Qty</th>
                                            <th style="width: 20%;">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody id="reviewService">
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <form id="payment_form" class="tableCheckout">
                            <div class="row g-1">
                                <div class="table-responsive col-md-12">
                                    <table class="table mb-0">
                                        <thead class="table-light">
                                            <tr>
                                                <th style="width: 40%; white-space: normal;"></th>
                                                <th style="width: 20%;"></th>
                                                <th style="width: 20%;"></th>
                                                <th style="width: 20%;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="2">Total</td>
                                                <td colspan="2">
                                                    <input disabled class="result vnd form-control form-control-sm" type="text" data-field="Total">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">Discount</td>
                                                <td colspan="2">
                                                    <input class="result form-control vnd form-control-sm" type="number" data-field="Discount" value="0" min="0">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">AmountDue</td>
                                                <td colspan="2">
                                                    <input disabled class="result vnd form-control form-control-sm" type="text" data-field="AmountDue">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-md-6">
                                    <div class="card-body mx-0 px-0 px-0 py-2">
                                        <div class="input-group">
                                            <span class="input-group-text form-control-sm"><i class="fadeIn animated bx bx-pin"></i></span>
                                            <select data-control="select2" data-field="PaymentMethod" class="form-select form-select-solid  radius-15 single-select">
                                                <option value="@((int)PaymentMethod.Cash)">Cash</option>
                                                <option value="@((int)PaymentMethod.Bank)">Bank</option>
                                                <option value="@((int)PaymentMethod.Transfer)">Transfer</option>
                                                <option value="@((int)PaymentMethod.Debit)">Debit</option>
                                                <option value="@((int)PaymentMethod.MembershipCard)">MembershipCard</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card-body mx-0 px-0 px-0 py-2">
                                        <div class="input-group">
                                            <span class="input-group-text form-control-sm"><i class="fadeIn animated bx bx-pin"></i></span>
                                            <select data-control="select2" data-field="Status" class="form-select form-select-solid  radius-15 single-select">
                                                <option value="@((int)PaymentStatus.Unpaid)">Unpaid</option>
                                                <option value="@((int)PaymentStatus.Paid)">Paid</option>
                                                <option value="@((int)PaymentStatus.Debit)">Debit</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card-body mx-0 px-0 px-0 py-2">
                                        <div class="input-group">
                                            <span class="input-group-text form-control-sm"><i class="fadeIn animated bx bx-calendar-check"></i></span>
                                            <input class="result form-control form-control-sm" type="date" data-field="Date" placeholder="Enter date" value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="card-body mx-0 px-0 px-0 py-2">
                                        <div class="input-group">
                                            <span class="input-group-text form-control-sm"><i class="fadeIn animated bx bx-book"></i></span>
                                            <textarea class="form-control form-control-sm" data-field="Description" rows="3" placeholder="Enter Note..."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="row row-cols-auto g-3 px-1">
                            <div class="col-md-12">
                                <div class="mb-3 px-1">
                                    <button type="button" class="btn btn-primary px-5 radius-15 w-100" name="btnUpdate">Save</button>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="mb-3 px-1">
                                    <button type="button" class="btn btn-primary px-5 radius-15 w-100" name="btnCheckout">Checkout</button>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="mb-3 px-1">
                                    <button type="button" class="btn btn-danger px-5 radius-15 w-100" name="btnCheckin">Checkin</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_PartialConfirmDeleteModal")


